/*统一样式*/
html {
	background-color: #f4f4f4;
}
body,
.main-shade {
	-webkit-transition: all .3s ease;
			transition: all .3s ease;
}
.main-shade {
	opacity: 0;
	background-color: #000;
}
body.active {
	overflow: hidden;
	-webkit-transform: translate3d(-240px, 0, 0);
			transform: translate3d(-240px, 0, 0);
}
body.active .main-shade {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9;
	opacity: .6;
}


/*头部*/
.header {
	margin-bottom: 60px;
	background-color: #fff;
}
.n-logo {
	width: 130px;
	margin: 0 auto;
}
.n-menu {
	position: absolute;
	top: 0;
	right: 0;
	padding: 20px;
	font-size: 24px;
	cursor: pointer;
}
@media screen and ( max-width: 767px ) {
	.header .n {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 3;
		width: 240px;
		padding-top: 150px;
		background-color: #12b7f5;
		background-image: url(../images/menu-bg.png);
		background-repeat: no-repeat;
		-webkit-transform: translate3d(100%, 0, 0);
				transform: translate3d(100%, 0, 0);
	}
	.header .n > li {
		float: none;
	}
	.header .n-c > li > a:after {
		display: none;
	}
	.header .n > li > a {
		padding: 10px 50px;
		margin: 0;
		font-size: 16px;
		color: #fff;
	}
	.header .n > li.active > a {
		background-color: rgba(0, 0, 0, .15);
	}
}


.banner2 {
	height: 150px;
	background-image: url(../images/slider-bg.png);
}
.banner2 .k-container {
	position: relative;
	max-width: 960px;
	height: 150px;
}
.banner2 .g {
	position: absolute;
	top: 80px;
	left: 15px;
	right: 15px;
}
.banner2 .g > *:nth-child(2) {
	-webkit-animation-delay: .5s;
			animation-delay: .5s;
}
.banner2 .g > *:nth-child(3) {
	-webkit-animation-delay: 1s;
			animation-delay: 1s;
}
.banner2 .g > *:nth-child(4) {
	-webkit-animation-delay: 1.5s;
			animation-delay: 1.5s;
}
.banner2 .k-pd {
	display: block;
	width: 90px;
	height: 90px;
	margin: 0 auto;
	line-height: 60px;
	border-radius: 50%;
	box-shadow: 0 0 20px rgba(0, 0, 0, .15);
}
@media screen and ( max-width: 767px ) {
	.banner2 .k-pd {
		width: 60px;
		height: 60px;
		padding: 10px !important;
		line-height: 20px;
	}
}


.main .l,
.main-top {
	margin-bottom: 30px;
}


.main .n-d {
	margin-bottom: 15px;
}
.main-left .n,
.main-left .p {
	margin-bottom: 30px;
}
.main-left .n > li > a {
	padding: 8px 15px;
}
.main-left .k-label {
	margin-right: 5px;
}
.main-left .l-btm span {
	display: inline-block;
	margin-right: 15px;
}
@media screen and ( max-width: 767px ) {
	.main-left .l-bd {
		margin-bottom: 15px;
	}
}


@media screen and ( min-width: 768px ) {
	.n-logo {
		float: left;
	}
	.n-menu {
		display: none;
	}
	.header .n {
		float: right;
	}
	.header .n > li > a {
		padding: 22px 30px;
	}

	.main-left .n > li > a {
		padding: 10px 25px;
	}
	.main-left .l-bd {
		height: 96px;
		margin-right: 170px;
		line-height: 24px;
		overflow: hidden;
	}
	.main-left .l-ft {
		position: absolute;
		top: 15px;
		right: 30px;
	}
	.main-left .l-img {
		width: 140px;
		height: 96px;
	}
}
@media screen and ( min-width: 992px ) {

}




/*首页*/
.banner {
	position: relative;
	height: 240px;
	background-image: url(../images/promo-bg.jpg);
	background-size: cover;
}
.banner span {
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	display: block;
	text-align: center;
	font-size: 64px;
	color: #fff;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
}
.banner i {
	display: inline-block;
}
@media screen and ( min-width: 768px ) {
	.banner {
		height: 400px;
	}
}
@media screen and ( min-width: 1190px ) {
	.banner {
		height: 500px;
	}
}
.header-btm .l-img,
.header-btm .l-exp,
.main-top .l-img {
	-webkit-transition: -webkit-transform .3s ease-in-out;
			transition: transform .3s ease-in-out;
}
.header-btm .l {
	margin-bottom: 0;
}
.header-btm .l-img {
	width: 48px;
	height: 48px;
	margin-bottom: 10px;
	border-radius: 50%;
}
.header-btm .l-row:hover .l-img,
.main-top .l-img:hover {
	-webkit-transform: scale3d(1.2, 1.2, 1.2);
			transform: scale3d(1.2, 1.2, 1.2);
}
.header-btm .l-row:hover .l-exp {
	-webkit-transform: translate3d(0, 10px, 0);
			transform: translate3d(0, 10px, 0);
}
.main-top h2 {
	margin-bottom: 30px;
}
.main-top .l {
	-webkit-transition: -webkit-box-shadow .3s ease-in-out;
			transition: box-shadow .3s ease-in-out;
}
.main-top .l-row {
	padding: 0;
	overflow: hidden;
}
.mian-my .l-img {
	width: 70px;
	height: 70px;
	padding: 6px;
	margin-bottom: 10px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, .05), 0 0 1px #ccc;
}


/*快速菜单*/
.main-menu .l-img {
	width: 48px;
	height: 48px;
	margin-bottom: 10px;
}


/*热门标签*/
.main-tag .b {
	margin: 4px 5px 4px 0;
}


/*推荐文章*/
.main-hot .l-row {
	padding: 10px 15px;
}
.main-hot .l-bd {
	height: 48px;
	margin-right: 115px;
}
.main-hot .l-ft {
	position: absolute;
	top: 10px;
	right: 15px;
}
.main-hot .l-img {
	width: 100px;
	height: 68px;
}
@media screen and ( min-width: 768px ) {
	.main-hot .l-row {
		padding: 10px 30px;
	}
	.main-hot .l-row:after {
		left: 30px;
	}
	.main-hot .l-ft {
		right: 30px;
	}
}


/*页尾*/
.footer {
	padding: 15px;
	text-align: center;
	background-color: #fff;
}