/*
 * Component: Button
 ========================================================================== */
 button,
.b {
	position: relative;
	display: inline-block;
	padding: 6px 20px;
	margin: 0;
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	white-space: nowrap;
	cursor: pointer;
	outline: 0;
	border: 0;
	color: #54687b;
	background: #fff;
	border-radius: 3px;
	transition: all .2s ease-in-out;
	-webkit-user-select: none;
	-webkit-appearance: none;
}
.b:hover, button:hover,
.b:focus, button:focus {
	z-index: 2;
	color: #54687b;
	background: #fff;
	opacity: .8;
	box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
}
.b:active, button:active {
	color: #95a5a6;
	background-color: #fafafa;
	opacity: 1;
	box-shadow: 0 3px 8px rgba(0, 0, 0, .15), inset 0 1px 3px rgba(0, 0, 0, .15);
}
.b[disabled], button[disabled] {
	color: #95a5a6;
	background: transparent;
	cursor: default;
	opacity: .6;
	box-shadow: none;
}
/*链接样式*/
.b-bc-a,
.b-bc-a:hover,
.b-bc-a:focus,
.b-bc-a:active,
.b-bc-a[disabled] {
	top: 0 !important;
	color: #1abc9c !important;
	background: transparent !important;
	box-shadow: none!important;
}
/*灰*/
.b-bc-b,
.b-bc-b:hover,
.b-bc-b:focus {
	background: #f4f4f4;
}
.b-bc-b:active,
.b-bc-b[disabled] {
	color: #95a5a6;
	background: #eee;
}
/*绿色*/
.b-bc-c,
.b-bc-c:hover,
.b-bc-c:focus {
	color: #fff;
	background: #28d772;
}
.b-bc-c:active,
.b-bc-c[disabled] {
	color: #fff;
	background: #18b75b;
}
/*青绿*/
.b-bc-d,
.b-bc-d:hover,
.b-bc-d:focus {
	color: #fff;
	background: #1abc9c;
}
.b-bc-d:active,
.b-bc-d[disabled] {
	color: #fff;
	background: #029f80;
}
/*浅蓝*/
.b-bc-e,
.b-bc-e:hover,
.b-bc-e:focus {
	color: #fff;
	background: #50c7f9;
}
.b-bc-e:active,
.b-bc-e[disabled] {
	color: #fff;
	background: #28afe8;
}
/*蓝色*/
.b-bc-f,
.b-bc-f:hover,
.b-bc-f:focus {
	color: #fff;
	background: #3b9afe;
}
.b-bc-f:active,
.b-bc-f[disabled] {
	color: #fff;
	background: #2786e9;
}
/*黄色*/
.b-bc-g,
.b-bc-g:hover,
.b-bc-g:focus {
	color: #fff;
	background: #f6c903;
}
.b-bc-g:active,
.b-bc-g[disabled] {
	color: #fff;
	background: #efa900;
}
/*橙色*/
.b-bc-h,
.b-bc-h:hover,
.b-bc-h:focus {
	color: #fff;
	background: #ff861d;
}
.b-bc-h:active,
.b-bc-h[disabled] {
	color: #fff;
	background: #f60;
}
/*红色*/
.b-bc-i,
.b-bc-i:hover,
.b-bc-i:focus {
	color: #fff;
	background: #e45853;
}
.b-bc-i:active ,
.b-bc-i[disabled] {
	color: #fff;
	background: #d93d37;
}
/*粉色*/
.b-bc-j,
.b-bc-j:hover,
.b-bc-j:focus {
	color: #fff;
	background: #fd86cf;
}
.b-bc-j:active,
.b-bc-j[disabled] {
	color: #fff;
	background: #ea51af;
}
/*紫色*/
.b-bc-k,
.b-bc-k:hover,
.b-bc-k:focus {
	color: #fff;
	background: #be62e4;
}
.b-bc-k:active,
.b-bc-k[disabled] {
	color: #fff;
	background: #a530d5;
}
/*细边框*/
.b-bd:after,
.b-shade:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 200%;
	height: 200%;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 6px;
	-webkit-transform: scale(.5);
			transform: scale(.5);
	-webkit-transform-origin: 0 0;
			transform-origin: 0 0;
	box-sizing: border-box;
	pointer-events: none;
}
.b-bc-a:after {
	display: none;
}
/*空心按钮*/
.b-o {
	padding: 5px 19px;
	border: 1px solid #fff;
	color: #fff;
	background: transparent;
}
.b-o:after {
	display: none;
}
.b-o.b-bc-a {
	padding: 6px 20px;
	border: none;
}
.b-o.b-bc-b {
	color: #95a5a6;
	border-color: #dee5ed;
}
.b-o.b-bc-c {
	color: #18b75b;
	border-color: #18b75b;
}
.b-o.b-bc-d {
	color: #029f80;
	border-color: #029f80;
}
.b-o.b-bc-e {
	color: #28afe8;
	border-color: #28afe8;
}
.b-o.b-bc-f {
	color: #2786e9;
	border-color: #2786e9;
}
.b-o.b-bc-g {
	color: #efa900;
	border-color: #efa900;
}
.b-o.b-bc-h {
	color: #f60;
	border-color: #f60;
}
.b-o.b-bc-i {
	color: #d93d37;
	border-color: #d93d37;
}
.b-o.b-bc-j {
	color: #ea51af;
	border-color: #ea51af;
}
.b-o.b-bc-k {
	color: #a530d5;
	border-color: #a530d5;
}
.b-o.b-bc-c:hover, .b-o.b-bc-d:hover, .b-o.b-bc-e:hover, .b-o.b-bc-f:hover, .b-o.b-bc-g:hover, .b-o.b-bc-h:hover, .b-o.b-bc-i:hover, .b-o.b-bc-j:hover, .b-o.b-bc-k:hover,
.b-o.b-bc-c:focus, .b-o.b-bc-d:focus, .b-o.b-bc-e:focus, .b-o.b-bc-f:focus, .b-o.b-bc-g:focus, .b-o.b-bc-h:focus, .b-o.b-bc-i:focus, .b-o.b-bc-j:focus, .b-o.b-bc-k:focus {
	color: #fff;
}
/*3d*/
.b-3d,
.b-3d:hover,
.b-3d:active {
	top: 0;
	box-shadow: 0 3px 0 #eee, 0 0 1px rgba(0, 0, 0, .15);
}
.b-3d:active {
	top: 2px;
	box-shadow: 0 1px 0 #eee;
}
.b-3d.b-bc-b {
	box-shadow: 0 3px 0 #e7e7e7, 0 4px 3px rgba(0, 0, 0, .2);
}
.b-3d.b-bc-b:active {
	box-shadow: 0 1px 0 #e7e7e7;
}
.b-3d.b-bc-c {
	box-shadow: 0 3px 0 #12ab53, 0 4px 3px rgba(0, 0, 0, .2);
}
.b-3d.b-bc-c:active {
	box-shadow: 0 1px 0 #12ab53;
}
.b-3d.b-bc-d {
	box-shadow: 0 3px 0 #029275, 0 4px 3px rgba(0, 0, 0, .2);
}
.b-3d.b-bc-d:active {
	box-shadow: 0 1px 0 #029275;
}
.b-3d.b-bc-e {
	box-shadow: 0 3px 0 #23a4db, 0 4px 3px rgba(0, 0, 0, .2);
}
.b-3d.b-bc-e:active {
	box-shadow: 0 1px 0 #23a4db;
}
.b-3d.b-bc-f {
	box-shadow: 0 3px 0 #247dda, 0 4px 3px rgba(0, 0, 0, .2);
}
.b-3d.b-bc-f:active {
	box-shadow: 0 1px 0 #247dda;
}
.b-3d.b-bc-g {
	box-shadow: 0 3px 0 #e3a100, 0 4px 3px rgba(0, 0, 0, .2);
}
.b-3d.b-bc-g:active {
	box-shadow: 0 1px 0 #e3a100;
}
.b-3d.b-bc-h {
	box-shadow: 0 3px 0 #f16101, 0 4px 3px rgba(0, 0, 0, .2);
}
.b-3d.b-bc-h:active {
	box-shadow: 0 1px 0 #f16101;
}
.b-3d.b-bc-i {
	box-shadow: 0 3px 0 #be4642, 0 4px 3px rgba(0, 0, 0, .2);
}
.b-3d.b-bc-i:active {
	box-shadow: 0 1px 0 #be4642;
}
.b-3d.b-bc-j {
	box-shadow: 0 3px 0 #d947a1, 0 4px 3px rgba(0, 0, 0, .2);
}
.b-3d.b-bc-j:active {
	box-shadow: 0 1px 0 #d947a1;
}
.b-3d.b-bc-k {
	box-shadow: 0 3px 0 #9b2ac9, 0 4px 3px rgba(0, 0, 0, .2);
}
.b-3d.b-bc-k:active {
	box-shadow: 0 1px 0 #9b2ac9;
}
/*渐变*/
.b-shade {
	background: linear-gradient(#fff, #f4f4f4);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .6);
	-webkit-transition-duration: 0s;
			transition-duration: 0s;
}
.b-shade.b-bc-b {
	border-color: #dee5ec;
	background: linear-gradient(#f4f4f4, #eee);
}
.b-shade.b-bc-b:active {
	background: #eee;
}
.b-shade.b-bc-c {
	border-color: #18b75b;
	background: linear-gradient(#28d772, #18b75b);
}
.b-shade.b-bc-c:active {
	background: #18b75b;
}
.b-shade.b-bc-d {
	border-color: #029f80;
	background: linear-gradient(#1abc9c, #029f80);
}
.b-shade.b-bc-d:active {
	background: #029f80;
}
.b-shade.b-bc-e {
	border-color: #28afe8;
	background: linear-gradient(#50c7f9, #28afe8);
}
.b-shade.b-bc-e:active {
	background: #28afe8;
}
.b-shade.b-bc-f {
	border-color: #2786e9;
	background: linear-gradient(#3b9afe, #2786e9);
}
.b-shade.b-bc-f:active {
	background: #2786e9;
}
.b-shade.b-bc-g {
	border-color: #efa900;
	background: linear-gradient(#f6c903, #efa900);
}
.b-shade.b-bc-g:active {
	background: #efa900;
}
.b-shade.b-bc-h {
	border-color: #f60;
	background: linear-gradient(#ff861d, #f60);
}
.b-shade.b-bc-h:active {
	background: #f60;
}
.b-shade.b-bc-i {
	border-color: #d93d37;
	background: linear-gradient(#e45853, #d93d37);
}
.b-shade.b-bc-i:active {
	background: #d93d37;
}
.b-shade.b-bc-j {
	border-color: #ea51af;
	background: linear-gradient(#fd86cf, #ea51af);
}
.b-shade.b-bc-j:active {
	background: #ea51af;
}
.b-shade.b-bc-k {
	border-color: #a530d5;
	background: linear-gradient(#be62e4, #a530d5);
}
.b-shade.b-bc-k:active {
	background: #a530d5;
}
/*边角*/
.b-br-a,
.b-br-a:after {
	border-radius: 0;
}
.b-br-b,
.b-br-b:after {
	border-radius: 200px;
}
/*形状*/
.b-shape-a,
.b-shape-b {
	width: 32px;
	padding: 6px 0;
}
.b-shape-b,
.b-shape-b:after {
	border-radius: 200px;
}
/*块级*/
.b-block {
	display: block;
	width: 100%;
}
/*大小*/
.b-s {
	padding: 2px 15px;
	font-size: 12px;
}
.b-s.b-shape-a,
.b-s.b-shape-b {
	width: 24px;
	padding: 2px 0;
}
.b-m {
	padding: 9px 25px;
	font-size: 16px;
}
.b-m.b-shape-a,
.b-m.b-shape-b {
	width: 38px;
	padding: 9px 0;
}
.b-l {
	padding: 12px 30px;
	font-size: 20px;
}
.b-l.b-shape-a,
.b-l.b-shape-b {
	width: 44px;
	padding: 12px 0;
}
/*按钮组*/
.b-g {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.b-g:after {
	content: '';
	display: block;
	clear: both;
}
.b-g .b {
	float: left;
	margin: 0 0 0 -1px;
}
.b-g .b:not(:first-child):not(:last-child),
.b-g .b:not(:first-child):not(:last-child):after,
.b-y .b:not(:first-child):not(:last-child),
.b-y .b:not(:first-child):not(:last-child):after {
	border-radius: 0;
}
.b-g:not(.b-y) .b:first-child:not(:last-child),
.b-g:not(.b-y) .b:first-child:not(:last-child):after {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.b-g:not(.b-y) .b:last-child:not(:first-child),
.b-g:not(.b-y) .b:last-child:not(:first-child):after {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.b-y .b {
	float: none;
	display: block;
	width: 100%;
	margin: -1px 0 0;
}
.b-y .b:first-child:not(:last-child),
.b-y .b:first-child:not(:last-child):after {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.b-y .b:last-child:not(:first-child),
.b-y .b:last-child:not(:first-child):after {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
/*自动分布*/
.b-just {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}
.b-just .b {
	float: none;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
			flex: 1;
}