/*
 * Component: Form
 ========================================================================== */
.f > :last-child {
	margin-bottom: 0;
}
.f fieldset {
	padding: 0;
	margin: 0;
	border: none;
}
.f legend {
	position: relative;
	width: 100%;
	padding: 5px 0 15px;
	margin-bottom: 15px;
	font-size: 16px;
	border: 0;
}
.f legend:after {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	border-bottom: 1px solid #dee5ed;
	-webkit-transform: scaleY(.5);
			transform: scaleY(.5);
	-webkit-transform-origin: 0 100%;
			transform-origin: 0 100%;
}
.f optgroup {
	font: inherit;
	font-weight: bold;
}
.f-row {
	position: relative;
}
.f-row:after {
	content: '';
	display: block;
	clear: both;
}
.f-row + .f-row:not(.f-inline) {
	margin-top: 15px;
}
/*基本样式*/
.f-ipt {
	width: 100%;
	max-width: 100%;
	height: 32px;
	padding: 5px 10px;

	line-height: 20px;
	vertical-align: middle;
	border: 1px solid #dee5ed;
	color: #54687b;
	background-color: #fff;

	border-radius: 3px;
	-webkit-transition: all linear 0.2s;
			transition: all linear 0.2s;
	-webkit-appearance: none;
}
.f-ipt:focus {
	position: relative;
	z-index: 2;
	border-color: #1abc9c;
}
.f-ipt:disabled {
	opacity: .615;
	color: #999;
	background-color: #fafafa;
}
select.f-ipt {
	width: auto;
	padding-right: 20px;
	background: #fff url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+) no-repeat 100% center;
}
select[multiple].f-ipt,
select[size].f-ipt,
textarea.f-ipt {
	height: auto;
}
textarea.f-ipt {
	resize: none;
	overflow: auto;
}
/*表单布局*/
.f-top {
	font-weight: 600;
}
.f-top + .f-row {
	margin-top: 15px;
}
.f-label {
	display: inline-block;
	margin-bottom: 5px;
	text-align: right;
	color: #333;
}
.f-tip {
	min-width: 120px;
	font-size: 12px;
	color: #f55;
}
.f fieldset:disabled {
	color: #999;
}
.f-ck {
	cursor: pointer;
}
.f-ck + .f-ck {
	margin-left: 10px;
}
/*圆角*/
.f-br-a {
	border-radius: 0;
}
.f-br-b {
	border-radius: 2px;
}
.f-br-c {
	border-radius: 5px;
}
.f-br-d {
	border-radius: 1000px;
}
.f-br-e {
	border-radius: 50%;
}
/*文件域*/
.f-file {
	overflow: hidden;
}
.f-file [type="file"] {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 14px;
	background-color: #fff;
	height: 40px;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
}
/*地址*/
.f-area {
	height: 32px;
}
.f-area:after {
	content: '';
	display: block;
	clear: both;
}
.f-area select {
	float: left;
	width: 33.39%;
}
.f-area select:not(:first-child) {
	margin-left: -1px;
}
.f-area select:first-child {
	border-radius: 3px 0 0 3px;
}
.f-area select:last-child {
	border-radius: 0 3px 3px 0;
} 
.f-area select:not(:first-child):not(:last-child) {
	border-radius: 0;
}
 /* Placeholder
 ========================================================================== */
::-ms-input-placeholder {
  color: #95a5a6 !important;
}
::-moz-placeholder {
  color: #95a5a6;
}
::-webkit-input-placeholder {
  color: #95a5a6;
}
/* Horizontal
 ========================================================================== */
.f-hoz .f-row {
	line-height: 32px;
}
.f-hoz .f-bd {
	margin-left: 90px;
	width: 320px;
}
.f-hoz .f-label {
	float: left;
	width: 120px;
	margin-bottom: 0;
}
.f-hoz .f-tip {
	margin-left: 90px;
}
.f-hoz .f-bd {
	margin-left: 150px;
}
.f-hoz .f-tip {
	position: absolute;
	top: 0;
	left: 500px;
	margin-left: 0;
}
/* Responsive
 ========================================================================== */
.f-res .f-tip {
	line-height: 32px;
}
@media screen and ( min-width: 768px ) {
	.f-res .f-row {
		line-height: 32px;
	}
	.f-res .f-bd {
		margin-left: 90px;
		width: 320px;
	}
	.f-res .f-label {
		float: left;
		width: 120px;
		margin-bottom: 0;
	}
	.f-res .f-bd {
		margin-left: 150px;
	}
	.f-res .f-tip {
		position: absolute;
		top: 0;
		left: 500px;
	}
}
/* radio && checkbox
 ========================================================================== */
.f-mul {
	display: inline-block;
	cursor: pointer;
}
.f-mul [type="radio"],
.f-mul [type="checkbox"] {
	position: absolute;
	left: -9999em;
}
.f-mul .f-box {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: -5px;
	border: 1px solid #dee5ed;
}
.f-mul [type="radio"] + .f-box {
	border-radius: 50%;
}
.f-mul [type="radio"] + .f-box:before {
	content: '';
	position: absolute;
	top: 4px;
	left: 4px;
	z-index: 1;
	border-width: 5px;
	border-style: solid;
	border-color: transparent;
	border-radius: 50%;
	transition: all .3s;
	-webkit-transform: scale(0);
			transform: scale(0);
}
.f-mul [type="radio"]:checked + .f-box {
	border-color: #54687b;
}
.f-mul [type="radio"]:checked + .f-box:before {
	border-color: #54687b;
	-webkit-transform: scale(1);
			transform: scale(1);
}
.f-mul [type="checkbox"] + .f-box {
	border-radius: 3px;
}
.f-mul [type="checkbox"] + .f-box:before {
	content: '';
	position: absolute;
	top: 4px;
	left: 3px;
	z-index: 1;
	width: 10px;
	height: 5px;
	border-width: 0 0 2px 2px;
	border-style: solid;
	border-color: transparent;
	transition: all .3s;
	-webkit-transform: scale(0) rotate(-45deg);
			transform: scale(0) rotate(-45deg);
}
.f-mul [type="checkbox"]:checked + .f-box {
	border-color: #54687b;
}
.f-mul [type="checkbox"]:checked + .f-box:before {
	border-color: #54687b;
	-webkit-transform: scale(1) rotate(-45deg);
			transform: scale(1) rotate(-45deg);
}
/*禁用*/
.f-mul [type="radio"]:disabled + .f-box,
.f-mul [type="checkbox"]:disabled + .f-box {
	border-color: #f4f4f4;
	background-color: #f4f4f4;
}
/*填充式*/
.f-mul-fill [type="radio"]:checked + .f-box {
	border-color: #54687b;
	background-color: #54687b;
}
.f-mul-fill [type="radio"]:checked + .f-box:before {
	border-color: #fff;
}
.f-mul-fill [type="checkbox"]:checked + .f-box {
	border-color: #54687b;
	background-color: #54687b;
}
.f-mul-fill [type="checkbox"]:checked + .f-box:before {
	border-color: #fff;
}
/* switch
 ========================================================================== */
.f-switch {
	position: relative;
	z-index: 0;
	width: 52px;
	height: 32px;
	padding: 0;
	margin: 0;
	border-radius: 16px;
	border: 1px solid #dee5ed;
	background-color: #fafafa;
	-webkit-appearance: none;
			appearance: none;
	-webkit-transition: background-color .5s, border .5s;
			transition: background-color .5s, border .5s;
}
.f-switch:checked {
	border-color: #54687b;
	background-color: #54687b;
}
.f-switch:before,
.f-switch:after {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	border-radius: 16px;
	-webkit-transition: -webkit-transform .3s;
			transition: transform .3s;
}
.f-switch:before {
	width: 100%;
	height: 100%;
	background-color: #fafafa;
}
.f-switch:checked:before {
	-webkit-transform: scale(0);
			transform: scale(0);
}
.f-switch:after {
	height: 30px;
	width: 30px;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.f-switch:checked:after {
	-webkit-transform: translateX(20px);
			transform: translateX(20px);
}
.f-switch:disabled:before {
	background-color: #eee;
}






/*行*/
@media screen and ( min-width: 768px ) {
	.f-inline .f-row,
	.f-inline .f-bd {
		display: inline-block;
	}
	.f-inline .f-row + .f-row {
		margin-top: 0;
		margin-left: 15px;
	}
	.f-inline .f-mul {
		margin-right: 0;
	}
}









/* Sub-object: `f-icon`
 ========================================================================== */
.f-icon {
	position: relative;
}
.f-icon > [class*='i-'] {
	position: absolute;
	top: 50%;
	width: 30px;
	margin-top: -9px;
	font-size: 18px;
	text-align: center;
	pointer-events: none;
	color: #999;
}
.f-icon:not(.right) > input {
	padding-left: 30px !important;
}
.f-icon.right > [class*='i-'] {
	right: 0;
}
.f-icon.right > input {
	padding-right: 30px !important;
}
/* f-ipt size
 ========================================================================== */
.f-ipt-s {
	height: 24px;
	padding: 2px 4px;
	font-size: 12px;
}
.f-ipt-m {
	height: 38px;
	padding: 8px;
	font-size: 16px;
}
.f-ipt-l {
	height: 44px;
	padding: 11px;
	font-size: 18px;
}
/* fixed width
 ========================================================================== */
.f-ipt.f-width-s {
	width: 60px;
}
.f-ipt.f-width-m {
	width: 240px;
}
.f-ipt.f-width-l {
	width: 400px;
}


/* Validation states
 ========================================================================== */
.f-red {
	border-color: #dc8d99 !important;
	background: #fff7f8 !important;
	color: #d85030 !important;
}
.f-green {
	border-color: #8ec73b !important;
	background: #fafff2 !important;
	color: #659f13 !important;
}

.f-group .f-ipt {
	margin-top: -1px;
}
.f-group .f-ipt:first-child {
	border-radius: 3px 3px 0 0;
}
.f-group .f-ipt:last-child {
	border-radius: 0 0 3px 3px;
}
.f-group .f-ipt:not(:first-child):not(:last-child) {
	border-radius: 0;
}