/*
 * Component: Form
 ========================================================================== */
.f > :last-child {
	margin-bottom: 0;
}
.f-row + .f-row:not(.f-inline) {
	margin-top: 15px;
}
.f-row:after {
	content: '';
	display: block;
	clear: both;
}
@media screen and ( min-width: 768px ) {
	.f-inline .f-row {
		display: inline-block;
	}
	.f-inline .f-row + .f-row {
		margin-top: 0;
	}
}
.f fieldset {
	padding: 0;
	margin: 0;
	border: none;
}
.f legend {
	position: relative;
	width: 100%;
	padding: 0;
	margin-bottom: 15px;
	font-size: 16px;
	line-height: 30px;
	border: 0;
}
.f legend:after {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	border-bottom: 1px solid #ccc;
	-webkit-transform: scaleY(.5);
			transform: scaleY(.5);
	-webkit-transform-origin: 0 100%;
			transform-origin: 0 100%;
}
.f optgroup {
	font: inherit;
	font-weight: bold;
}
/* Style
 ========================================================================== */
.f-ipt {
	width: 100%;
	max-width: 100%;
	height: 32px;
	padding: 5px;

	line-height: 20px;
	vertical-align: middle;
	border: 1px solid #ddd;
	color: #555;
	background-color: #fff;

	border-radius: 3px;
	-webkit-transition: all linear 0.2s;
			transition: all linear 0.2s;
	-webkit-appearance: none;
}
.f-ipt:focus {
	border-color: #3b9afe;
	color: #555;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 5px rgba(59,180,242,.3);
}
.f-ipt:disabled {
	opacity: .615;
	color: #999;
	background-color: #fafafa;
}
select.f-ipt {
	padding-right: 20px;
	background: #fff url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+) no-repeat 100% center;
}

select[multiple].f-ipt,
select[size].f-ipt,
textarea.f-ipt {
	height: auto;
}
textarea.f-ipt {
	resize: none;
	overflow: auto;
	vertical-align: top;
}
.f-lab {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}
.f fieldset:disabled {
	color: #999;
}
.f-ck {
	cursor: pointer;
}
.f-ck + .f-ck {
	margin-left: 10px;
}
/*圆角*/
.f-br-a {
	border-radius: 0;
}
.f-br-b {
	border-radius: 2px;
}
.f-br-c {
	border-radius: 5px;
}
.f-br-d {
	border-radius: 1000px;
}
.f-br-e {
	border-radius: 50%;
}
/*文件域*/
.f-file {
	overflow: hidden;
}
.f-file input {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 14px;
	background-color: #fff;
	height: 40px;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
}

 /* Placeholder
 ========================================================================== */
::-ms-input-placeholder {
  color: #999 !important;
}
:::-moz-placeholder {
  color: #999;
}
:::-webkit-input-placeholder {
  color: #999;
}
::disabled:-ms-input-placeholder {
  color: #999 !important;
}
::disabled::-moz-placeholder {
  color: #999;
}
::disabled::-webkit-input-placeholder {
  color: #999;
}

/* Horizontal
 ========================================================================== */
.f-hoz .f-ipt,
.f-hoz select.f-ipt {
	width: auto;
}
.f-hoz .f-bd {
	margin-left: 90px;
}
.f-hoz .f-label {
	float: left;
	width: 75px;
	text-align: right;
}
.f-hoz .f-tip {
	display: none;
}


.f-top {
	font-weight: 600;
}
.f-top + .f-row {
	margin-top: 15px;
}
.f-row {
	position: relative;
	line-height: 32px;
}
.f-tip {
	font-size: 12px;
	color: #f55;
}
/* Responsive
 ========================================================================== */
@media screen and ( min-width: 768px ) {
	.f-res .f-ipt {
		width: auto;
	}
	.f-res .f-label {
		float: left;
		width: 120px;
		text-align: right;
	}
	.f-res .f-bd {
		margin-left: 150px;
	}
	.f-res .f-tip {
		position: absolute;
		top: 0;
		left: 380px;
	}
}
/* radio && checkbox
 ========================================================================== */
.f-mul {
	display: inline-block;
	cursor: pointer;
}
.f-mul {
	margin-right: 15px;
}
.f-mul [type="radio"],
.f-mul [type="checkbox"] {
	position: absolute;
	left: -9999em;
}
.f-mul .f-box {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: -5px;
	border: 1px solid #ddd;
}
.f-mul [type="radio"] + .f-box {
	border-radius: 50%;
}
.f-mul [type="radio"] + .f-box:before {
	content: '';
	position: absolute;
	top: 4px;
	left: 4px;
	z-index: 2;
	border-width: 5px;
	border-radius: 50%;
	border-style: solid;
	border-color: transparent;
	transition: all .3s;
	-webkit-transform: scale(0);
			transform: scale(0);
}
.f-mul [type="radio"]:checked + .f-box:before {
	border-color: #3b9afe;
	-webkit-transform: scale(1);
			transform: scale(1);
}
.f-mul [type="checkbox"] + .f-box {
	border-radius: 3px;
}
.f-mul [type="checkbox"] + .f-box:before {
	content: '';
	position: absolute;
	top: 4px;
	left: 3px;
	z-index: 2;
	width: 10px;
	height: 5px;
	border-width: 0 0 2px 2px;
	border-style: solid;
	border-color: transparent;
	transition: all .3s;
	-webkit-transform: scale(0) rotate(-45deg);
			transform: scale(0) rotate(-45deg);
}
.f-mul [type="checkbox"]:checked + .f-box:before {
	border-color: #3b9afe;
	-webkit-transform: scale(1) rotate(-45deg);
			transform: scale(1) rotate(-45deg);
}
/*禁用*/
.f-mul [type="radio"]:disabled + .f-box,
.f-mul [type="checkbox"]:disabled + .f-box {
	border-color: #f4f4f4;
	background-color: #f4f4f4;
}
/*填充式*/
.f-mul-fill [type="radio"]:checked + .f-box {
	border-color: #3b9afe;
	background-color: #3b9afe;
}
.f-mul-fill [type="radio"]:checked + .f-box:before {
	border-color: #fff;
}
.f-mul-fill [type="checkbox"]:checked + .f-box {
	border-color: #3b9afe;
	background-color: #3b9afe;
}
.f-mul-fill [type="checkbox"]:checked + .f-box:before {
	border-color: #fff;
}
/* switch
 ========================================================================== */
.f-switch {
	position: relative;
	width: 52px;
	height: 30px;
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 16px;
	background-color: #fff;
	-webkit-appearance: none;
}
.f-switch:checked {
	background-color: #3b9afe;
}
.f-switch:before,
.f-switch:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 15px;
	transition: all .3s;
}
.f-switch:before {
	width: 50px;
	height: 28px;
	background-color: #fff;
}
.f-switch:checked:before {
	-webkit-transform: scale(0);
			transform: scale(0);
}
.f-switch:after {
	width: 30px;
	height: 28px;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.f-switch:checked:after {
	-webkit-transform: translateX(20px);
			transform: translateX(20px);
}
.f-switch:disabled:before {
	background-color: #eee;
}















@media screen and ( min-width: 768px ) {
	.f-hoz .f-lab {
		float: left;
		width: 120px;
		margin-top: 6px;
		margin-bottom: 0;
		font-weight: normal;
	}
	.f-hoz .f-control {
		margin-left: 120px;
	}
	.f-hoz .f-control-text {
		padding-top: 5px;
	}
}
/* Sub-object: `f-icon`
 ========================================================================== */
.f-icon {
	position: relative;
	display: inline-block;
	max-width: 100%;
}
.f-icon > [class*='icon-'] {
	position: absolute;
	top: 50%;
	width: 30px;
	margin-top: -7px;
	color: #999;
	text-align: center;
	pointer-events: none;
}
.f-icon:not(.right) > input {
	padding-left: 30px !important;
}
.f-icon.right > [class*='icon-'] {
	right: 0;
}
.f-icon.right > input {
	padding-right: 30px !important;
}
.f-icon.f-control {
	display: block;
}
/* f-fix
 ========================================================================== */
.f-fix .f-lab {
	float: left;
	width: 120px;
	margin-top: 6px;
	margin-bottom: 0;
	font-weight: normal;
}
.f-fix .f-control {
	margin-left: 120px;
}
/* f-ipt size
 ========================================================================== */
.f-ipt-s {
	height: 24px;
	padding: 2px 4px;
	font-size: 12px;
}
.f-ipt-m {
	height: 38px;
	padding: 8px;
	font-size: 16px;
}
.f-ipt-l {
	height: 44px;
	padding: 11px;
	font-size: 18px;
}
/* fixed width
 ========================================================================== */
.f-width-s {
	width: 60px !important;
}
.f-width-m {
	width: 300px !important;
}
.f-width-l {
	width: 100% !important;
}
/* f-block
 ========================================================================== */
.f-block .f-ipt, .f-ipt.f-block {
	width: 100%;
}
/* Validation states
 ========================================================================== */
.f-red {
	border-color: #dc8d99 !important;
	background: #fff7f8 !important;
	color: #d85030 !important;
}
.f-green {
	border-color: #8ec73b !important;
	background: #fafff2 !important;
	color: #659f13 !important;
}