/*
 * Component: Grid
 ========================================================================== */
.g {
	padding: 0;
	margin: 0 0 0 -15px;
	list-style: none;
}
.g + .g {
	margin-top: 15px;
}
.g:after {
	content: '';
	display: block;
	clear: both;
}
.g > * {
	position: relative;
	float: left;
	width: 100%;
	min-height: 20px;
	margin: 0;
	padding-left: 15px;
}
/*large interval*/
.g-lar {
	margin-left: -30px;
}
.g-lar > * {
	padding-left: 30px;
}
/*remove interval*/
.g-del {
	margin-left: 0;
}
.g-del > * {
	padding-left: 0;
}
/*gridding*/
.g-col {
	position: relative;
	margin-left: 0;
	overflow: hidden;
}
.g-col > * {
	padding-left: 0;
}
.g-col:before,
.g-col > *:before {
	display: block;
	content: '';
	position: absolute;
	right: 0;
	left: 0;
	z-index: 1;
	border-top: 1px solid #dee5ed;
	-webkit-transform: scaleY(.5);
			transform: scaleY(.5);
}
.g-col:before {
	top: 0;
	-webkit-transform-origin: 100% 0;
			transform-origin: 100% 0;
}
.g-col > *:before {
	bottom: 0;
	-webkit-transform-origin: 0 100%;
			transform-origin: 0 100%;
}
.g-col:after,
.g-col > *:after {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;
	border-left: 1px solid #dee5ed;
	-webkit-transform: scaleX(.5);
			transform: scaleX(.5);
}
.g-col:after {
	left: 0;
	-webkit-transform-origin: 0 0;
			transform-origin: 0 0;
}
.g-col > *:after {
	right: 0;
	-webkit-transform-origin: 100% 0;
			transform-origin: 100% 0;
}
/*  grid response
==========================================================================  */
@media screen and ( min-width: 768px ) {
	.g-res {
		margin-left: -30px;
	}
	.g-res > * {
		padding-left: 30px;
	}
}
/*  grid cell widths
==========================================================================  */
.g-12 {
	width: 100%;
}
.g-11 {
	width: 91.667%;
}
.g-10 {
	width: 83.333%;
}
.g-9 {
	width: 75%;
}
.g-8 {
	width: 66.667%;
}
.g-7 {
	width: 58.333%;
}
.g-6 {
	width: 50%;
}
.g-5 {
	width: 41.667%;
}
.g-4 {
	width: 33.333%;
}
.g-3 {
	width: 25%;
}
.g-2 {
	width: 16.667%;
}
.g-1 {
	width: 8.333%;
}
@media screen and ( min-width: 768px ) {
	.g-s-12 {
		width: 100%;
	}
	.g-s-11 {
		width: 91.667%;
	}
	.g-s-10 {
		width: 83.333%;
	}
	.g-s-9 {
		width: 75%;
	}
	.g-s-8 {
		width: 66.667%;
	}
	.g-s-7 {
		width: 58.333%;
	}
	.g-s-6 {
		width: 50%;
	}
	.g-s-5 {
		width: 41.667%;
	}
	.g-s-4 {
		width: 33.333%;
	}
	.g-s-3 {
		width: 25%;
	}
	.g-s-2 {
		width: 16.667%;
	}
	.g-s-1 {
		width: 8.333%;
	}
}
@media screen and ( min-width: 1024px  ) {
	.g-m-12 {
		width: 100%;
	}
	.g-m-11 {
		width: 91.667%;
	}
	.g-m-10 {
		width: 83.333%;
	}
	.g-m-9 {
		width: 75%;
	}
	.g-m-8 {
		width: 66.667%;
	}
	.g-m-7 {
		width: 58.333%;
	}
	.g-m-6 {
		width: 50%;
	}
	.g-m-5 {
		width: 41.667%;
	}
	.g-m-4 {
		width: 33.333%;
	}
	.g-m-3 {
		width: 25%;
	}
	.g-m-2 {
		width: 16.667%;
	}
	.g-m-1 {
		width: 8.333%;
	}
}
@media screen and ( min-width: 1280px ) {
	.g-l-12 {
		width: 100%;
	}
	.g-l-11 {
		width: 91.667%;
	}
	.g-l-10 {
		width: 83.333%;
	}
	.g-l-9 {
		width: 75%;
	}
	.g-l-8 {
		width: 66.667%;
	}
	.g-l-7 {
		width: 58.333%;
	}
	.g-l-6 {
		width: 50%;
	}
	.g-l-5 {
		width: 41.667%;
	}
	.g-l-4 {
		width: 33.333%;
	}
	.g-l-3 {
		width: 25%;
	}
	.g-l-2 {
		width: 16.667%;
	}
	.g-l-1 {
		width: 8.333%;
	}
}
/*  Flex
==========================================================================  */
.g-flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}
.g-flex + .g-flex {
	margin-top: 4px;
}
.g-start {
	-webkit-justify-content: flex-start;
			justify-content: flex-start;
}
.g-end {
	-webkit-justify-content: flex-end;
			justify-content: flex-end;
}
.g-center {
	-webkit-justify-content: center;
			justify-content: center;
}
.g-between {
	-webkit-justify-content: space-between;
			justify-content: space-between;
}
.g-around {
	-webkit-justify-content: space-around;
			justify-content: space-around;
}
.g-cell {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
			flex: 1;
}
.g-cell {
	text-align: center;
}
.g-cell:first-child {
	text-align: left;
}
.g-cell:last-child {
	text-align: right;
}