/*  Component: Base
========================================================================  */
/*
 *  Base Style Refer to normalize v4.1.1
 */
* {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}
html {
	font: 14px/1.429 "Microsoft Yahei", Tahoma, Helvetica, Arial, sans-serif;
	color: #34495e;
	background-color: #fff;
	/* Prevent adjustments of font size after orientation changes in IE and iOS */
	-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}
body {
	margin: 0;
}
/*  HTML5 elements
==========================================================================  */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
	display: block;
}
audio,
canvas,
progress,
video {
	display: inline-block;
}
progress {
	vertical-align: baseline;
}
audio:not([controls]) {
	display: none;
}
[hidden],
template {
	display: none;
}
/*  Embedded content
========================================================================  */
audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}
img {
	max-width: 100%;
	height: auto;
	border: 0;
}
svg:not(:root) {
	overflow: hidden;
}
/*  Links
========================================================================  */
a {
	text-decoration: none;
	color: #34495e;
	background-color: transparent;
	/* Remove gaps in links underline in iOS 8+ and Safari 8+ */
	-webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
	outline: 0;
}
a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
a.k-link-a {
	color: #1abc9c;
}
a.k-link-a:hover {
	text-decoration: underline;
}
a.k-link-b:hover {
	color: #1abc9c;
	text-decoration: underline;
}
a.k-link-c:hover {
	color: #f60;
	text-decoration: underline;
}
/*  Text-level semantics
========================================================================  */
abbr[title] {
	border-bottom: 1px dotted;
}
b,
strong {
	font-weight: 600;
}
big {
	font-size: 125%;
}
:not(pre) > code,
:not(pre) > kbd,
:not(pre) > samp {
	padding: 1px 4px;
	font-size: 12px;
	font-family: Consolas, monospace, serif;
	color: #d05;
	background-color: #fafafa;
	white-space: nowrap;
	vertical-align: top;
}
ins {
	text-decoration: none;
	color: #34495e;
	background-color: #ffa;
}
mark {
	color: #34495e;
	background-color: #ffa;
}
i {
	font-style: normal;
}
q {
	font-style: italic;
}
small {
	font-size: 75%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
button,
input,
optgroup,
select,
textarea {
	margin: 0;
	font: inherit;
	outline: 0;
	color: inherit;
}
button,
input {
	overflow: visible;
}
button,
select {
	text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}
[type="checkbox"],
[type="radio"] {
	padding: 0;
	margin-top: -2px;
	vertical-align: middle;
}
[type="checkbox"]:not(:disabled),
[type="radio"]:not(:disabled) {
	cursor: pointer;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}
::-ms-input-placeholder {
	font-size: 14px;
	color: #95a5a6;
}
::-moz-placeholder {
	font-size: 14px;
	color: #95a5a6;
}
::-webkit-input-placeholder {
	font-size: 14px;
	color: #95a5a6;
}
/*  Block elements
========================================================================  */
blockquote,
figure {
	margin: 0;
}

p,
ul,
ol,
dl,
blockquote,
pre,
address,
fieldset,
figure {
	margin: 0 0 15px 0;
}
* + p,
* + ul,
* + ol,
* + dl,
* + blockquote,
* + pre,
* + address,
* + fieldset,
* + figure {
	margin-top: 15px;
}
/*  Headings
==========================================================================  */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	margin: 0 0 15px 0;
	color: #34495e;
}
h1, .k-h1 {
	font-size: 32px;
	line-height: 40px;
}
h2, .k-h2 {
	font-size: 24px;
	line-height: 30px;
}
h3, .k-h3 {
	font-size: 18px;
	line-height: 28px;
}
h4, .k-h4 {
	font-size: 16px;
	line-height: 24px;
}
h5, .k-h5 {
	font-size: 14px;
	line-height: 20px;
	color: #95a5a6;
}
h6, .k-h6 {
	font-size: 12px;
	line-height: 18px;
	color: #95a5a6;
}
* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
	margin-top: 15px;
}
h1 small, .k-h1 small,
h2 small, .k-h2 small,
h3 small, .k-h3 small,
h4 small, .k-h4 small,
h5 small, .k-h5 small,
h6 small, .k-h6 small {
	font-weight: 400;
	line-height: 1;
	color: #95a5a6;
}
/*  Lists
==========================================================================  */
ul,
ol {
	padding-left: 20px;
}
ul > li > ul,
ul > li > ol,
ol > li > ol,
ol > li > ul {
	margin: 0;
}
.k-nums li {
	padding-left: 10px;
	line-height: 28px;
}
.k-list {
	padding: 0;
	list-style: none;
}
/*  Description lists
==========================================================================  */
dt {
	font-weight: 600;
}
dd {
	margin-left: 0;
}
/*  Horizontal rules
==========================================================================  */
hr {
	position: relative;
	height: 1px;
	margin: 15px 0;
	border: 0;
	box-sizing: content-box;
}
hr:after {
	content: '';
	position: absolute;
	right: 0;
	left: 0;
	border-bottom: 1px solid #dee5ed;
	-webkit-transform: scaleY(.5);
			transform: scaleY(.5);
	-webkit-transform-origin: 0 100%;
			transform-origin: 0 100%;
}
/*  Address
==========================================================================  */
address {
	font-style: normal;
}
/*  Blockquotes
==========================================================================  */
blockquote {
	padding-left: 15px;
	border-left: 5px solid #dee5ed;
	font-size: 16px;
	line-height: 22px;
	font-style: italic;
}
/*  Preformatted text
==========================================================================  */
pre {
	padding: 10px;
	background-color: #f5f5f5;
	font: 12px / 18px Consolas, monospace, serif;
	color: #34495e;
	-moz-tab-size: 4;
	tab-size: 4;
	overflow: auto;
}
/*  Iframe
==========================================================================  */
iframe {
	border: 0;
}
/*  Clearing
==========================================================================  */
.k-clearfix:after,
.k-container:after {
	content: '';
	display: block;
	clear: both;
}
/*  Container
==========================================================================  */
.k-container {
	max-width: 1200px;

	-webkit-overflow-scrolling: touch;
}
.k-container-cen {
	margin: 0 auto;
}
.k-usn {
	-webkit-user-select: none;
}
/*  Label and Badge
==========================================================================  */
.k-label, 
.k-badge {
	position: relative;
	top: 1px;
	display: inline-block;
	padding: 3px 6px;

	line-height: 1;
	font-size: 10px;
	font-weight: normal;
	white-space: nowrap;
	vertical-align: 1px;

	color: #fff;
	background-color: rgba(0, 0, 0, .15);
}
.k-label {
	border-radius: 3px;
}
.k-badge {
	border-radius: 100px;
}
/*  Thumbnail
==========================================================================  */
.k-thumbnail {
	display: inline-block;
	height: auto;
	padding: 4px;

	border: 1px solid #dee5ed;
	background-color: #fff;
}
a.k-thumbnail:hover,
a.k-thumbnail:focus {
	text-decoration: none;
	border-color: #aaa;
	background-color: #fff;
}
.k-thumbnail-s {
	width: 100px;
}
.k-thumbnail-m {
	width: 200px;
}
.k-thumbnail-l {
	width: 300px;
}
/*  Wrap modifiers
==========================================================================  */
.k-nowrap {
	white-space: nowrap;
}
.k-toe {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.k-toe-2 {
	display: -webkit-box;

	text-overflow: ellipsis;
	white-space: normal;
	word-wrap: break-word;
	overflow: hidden;

	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
/*  Float and Display
==========================================================================  */
.k-fl {
	float: left;
}
.k-fr {
	float: right;
}
.k-db {
	display: block !important;
}
.k-dn {
	display: none !important;
}
.k-vv {
	visibility: visible !important;
}
.k-vh {
	visibility: hidden !important;
}
/*  Overflow
==========================================================================  */
.k-oh {
	overflow: hidden;
}
.k-oa {
	overflow: auto;
}
.k-oa > :last-child {
	margin-bottom: 0;
}
/*  Text transform 
==========================================================================  */
.k-ttl {
	text-transform: lowercase;
}
.k-ttu {
	text-transform: uppercase;
}
.k-ttc {
	text-transform: capitalize;
}
/*  Align and Text style
==========================================================================  */
.k-fwb {
	font-weight: bold !important;
}
.k-fwn {
	font-weight: normal !important;
}
.k-tac {
	text-align: center !important;
}
.k-tar {
	text-align: right !important;
}
.k-tal {
	text-align: left !important;
}
.k-taj {
	text-align: justify !important;
}
.k-vat {
	vertical-align: top !important;
}
.k-vam {
	vertical-align: middle !important;
}
.k-vab {
	vertical-align: bottom !important;
}
/*  Radius
==========================================================================  */
.k-br-a {
	border-radius: 0 !important;
}
.k-br-b {
	border-radius: 2px !important;
}
.k-br-c {
	border-radius: 5px !important;
}
.k-br-d {
	border-radius: 1000px !important;
}
.k-br-e {
	border-radius: 50% !important;
}
/*  Box-shadow
==========================================================================  */
.k-bs-a:hover {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .15);
}
.k-bs-b:hover {
	box-shadow: 0px 0px 15px rgba(0, 0, 0, .15);
}
/*  Padding
==========================================================================  */
.k-pt {
	padding-top: 15px !important;
}
.k-pr {
	padding-right: 15px !important;
}
.k-pb {
	padding-bottom: 15px !important;
}
.k-pl {
	padding-left: 15px !important;
}
.k-px {
	padding: 0 15px !important;
}
.k-py {
	padding: 15px 0 !important;
}
.k-pd {
	padding: 15px !important;
}
.k-pn {
	padding: 0 !important;
}
/*  Margin
==========================================================================  */
.k-mt {
	margin-top: 15px !important;
}
.k-mr {
	margin-right: 15px !important;
}
.k-mb {
	margin-bottom: 15px !important;
}
.k-ml {
	margin-left: 15px !important;
}
.k-mx {
	margin: 0 15px !important;
}
.k-my {
	margin: 15px 0 !important;
}
.k-mg {
	margin: 15px !important;
}
.k-mn {
	margin: 0 !important;
}
/*  Background Color
==========================================================================  */
.k-bc-a {
	color: #34495e;
	background-color: #dee5ed;
}
.k-bc-b {
	color: #34495e;
	background-color: #fff;
}
.k-bc-c {
	background-color: #28d772;
}
.k-bc-d {
	background-color: #1abc9c;
}
.k-bc-e {
	background-color: #50c7f9;
}
.k-bc-f {
	background-color: #3b9afe;
}
.k-bc-g {
	background-color: #f6c903;
}
.k-bc-h {
	background-color: #ff861d;
}
.k-bc-i {
	background-color: #e45853;
}
.k-bc-j {
	background-color: #fd86cf;
}
.k-bc-k {
	background-color: #be62e4;
}
.k-bc-c, .k-bc-d, .k-bc-e, .k-bc-f, .k-bc-g, .k-bc-h, .k-bc-i, .k-bc-j, .k-bc-k {
	color: #fff;
}
/*  Text Color
==========================================================================  */
.k-cl-a {
	color: #95a5a6;
}
.k-cl-b {
	color: #fff;
}
.k-cl-c {
	color: #28d772;
}
.k-cl-d {
	color: #1abc9c;
}
.k-cl-e {
	color: #50c7f9;
}
.k-cl-f {
	color: #3b9afe;
}
.k-cl-g {
	color: #f6c903;
}
.k-cl-h {
	color: #ff861d;
}
.k-cl-i {
	color: #e45853;
}
.k-cl-j {
	color: #fd86cf;
}
.k-cl-k {
	color: #be62e4;
}
/*  Line
==========================================================================  */
.k-ux, .k-uy, .k-ut, .k-ur, .k-ub, .k-ul {
	position: relative;
}
.k-ux:before,
.k-ux:after,
.k-ut:after,
.k-ub:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 2;
	border-top: 1px solid #dee5ed;
	-webkit-transform: scaleY(.5);
			transform: scaleY(.5);
	-webkit-transform-origin: 100% 0;
			transform-origin: 100% 0;
}
.k-ux:after,
.k-ub:after {
	top: auto;
	bottom: 0;
	-webkit-transform-origin: 0 100%;
			transform-origin: 0 100%;
}
.k-uy:before,
.k-uy:after,
.k-ur:after,
.k-ul:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	border-left: 1px solid #dee5ed;
	-webkit-transform: scaleX(.5);
			transform: scaleX(.5);
	-webkit-transform-origin: 100% 0;
			transform-origin: 100% 0;
}
.k-uy:after,
.k-ul:after {
	right: auto;
	left: 0;
	-webkit-transform-origin: 0 0;
			transform-origin: 0 0;
}
.k-un:after {
	display: none;
}
/*  Arrow
==========================================================================  */
.k-back {
	padding-left: 30px !important;
}
.k-link {
	padding-right: 26px !important;
}
.k-back:before,
.k-link:before {
	content: '';
	position: absolute;
	top: 50%;
	display: inline-block;
	height: 9px;
	width: 9px;
	margin-top: -5px;
	border-style: solid;
	border-color: #95a5a6;
	-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
}
.k-back:before {
	left: 15px;
	border-width: 0px 0px 2px 2px;
}
.k-link:before {
	right: 15px;
	border-width: 2px 2px 0px 0px;
}
.k-link:active {
	background-color: #f4f4f4;
}
.k-down:before {
	content: '';
	position: absolute;
	top: 20px;
	right: 15px;
	border: 5px solid transparent;
	border-top-color: #95a5a6;
}
/*  Layout
==========================================================================  */
.k-icon {
	position: relative;
	width: 50px;
	height: 50px;
	padding: 10px;
	margin: 0 auto;
	font-size: 30px;
	overflow: hidden;
	border-radius: 50%;
	transition: all .3s;
}
.k-icon.active:active {
	opacity: .2;
}
.k-ft {
	font-size: 12px;
	text-align: center;
	color: #95a5a6;
}
