/*
 * Component: Grid
 ========================================================================== */
.g {
	padding: 0;
	margin: 0 0 0 -15px;
	list-style: none;
}
.g + .g {
	margin-top: 15px;
}
.g:after {
	content: '';
	display: block;
	clear: both;
}
.g > * {
	position: relative;
	float: left;
	width: 100%;
	margin: 0;
	padding-left: 15px;
}
/*large interval*/
.g-lar {
	margin-left: -30px;
}
.g-lar > * {
	padding-left: 30px;
}
/*remove interval*/
.g-del {
	margin-left: 0;
}
.g-del > * {
	padding-left: 0;
}
/*gridding*/
.g-col {
	position: relative;
	margin-left: 0;
	overflow: hidden;
}
.g-col > * {
	padding-left: 0;
}
.g-col:before,
.g-col > *:before {
	display: block;
	content: '';
	position: absolute;
	right: 0;
	left: 0;
	z-index: 1;
	border-top: 1px solid #ccc;
	-webkit-transform: scaleY(.5);
			transform: scaleY(.5);
}
.g-col:before {
	top: 0;
	-webkit-transform-origin: 100% 0;
			transform-origin: 100% 0;
}
.g-col > *:before {
	bottom: 0;
	-webkit-transform-origin: 0 100%;
			transform-origin: 0 100%;
}
.g-col:after,
.g-col > *:after {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;
	border-left: 1px solid #ccc;
	-webkit-transform: scaleX(.5);
			transform: scaleX(.5);
}
.g-col:after {
	left: 0;
	-webkit-transform-origin: 0 0;
			transform-origin: 0 0;
}
.g-col > *:after {
	right: 0;
	-webkit-transform-origin: 100% 0;
			transform-origin: 100% 0;
}
/*  grid response
==========================================================================  */
@media screen and ( min-width: 768px ) {
	.g-res {
		margin-left: -30px;
	}
	.g-res > * {
		padding-left: 30px;
	}
}
/*  grid cell widths
==========================================================================  */
.g-12 {
	width: 100%;
}
.g-11 {
	width: 91.667%;
}
.g-10 {
	width: 83.333%;
}
.g-9 {
	width: 75%;
}
.g-8 {
	width: 66.667%;
}
.g-7 {
	width: 58.333%;
}
.g-6 {
	width: 50%;
}
.g-5 {
	width: 41.667%;
}
.g-4 {
	width: 33.333%;
}
.g-3 {
	width: 25%;
}
.g-2 {
	width: 16.667%;
}
.g-1 {
	width: 8.333%;
}
.g-push-12 {
	left: 100%;
}
.g-push-11 {
	left: 91.667%;
}
.g-push-10 {
	left: 83.333%;
}
.g-push-9 {
	left: 75%;
}
.g-push-8 {
	left: 66.667%;
}
.g-push-7 {
	left: 58.333%;
}
.g-push-6 {
	left: 50%;
}
.g-push-5 {
	left: 41.667%;
}
.g-push-4 {
	left: 33.333%;
}
.g-push-3 {
	left: 25%;
}
.g-push-2 {
	left: 16.667%;
}
.g-push-1 {
	left: 8.333%;
}
.g-push-0 {
	left: auto;
}
.g-pull-12 {
	right: 100%;
}
.g-pull-11 {
	right: 91.667%;
}
.g-pull-10 {
	right: 83.333%;
}
.g-pull-9 {
	right: 75%;
}
.g-pull-8 {
	right: 66.667%;
}
.g-pull-7 {
	right: 58.333%;
}
.g-pull-6 {
	right: 50%;
}
.g-pull-5 {
	right: 41.667%;
}
.g-pull-4 {
	right: 33.333%;
}
.g-pull-3 {
	right: 25%;
}
.g-pull-2 {
	right: 16.667%;
}
.g-pull-1 {
	right: 8.333%;
}
.g-pull-0 {
	right: auto;
}
@media screen and ( min-width: 768px ) {
	.g-s-12 {
		width: 100%;
	}
	.g-s-11 {
		width: 91.667%;
	}
	.g-s-10 {
		width: 83.333%;
	}
	.g-s-9 {
		width: 75%;
	}
	.g-s-8 {
		width: 66.667%;
	}
	.g-s-7 {
		width: 58.333%;
	}
	.g-s-6 {
		width: 50%;
	}
	.g-s-5 {
		width: 41.667%;
	}
	.g-s-4 {
		width: 33.333%;
	}
	.g-s-3 {
		width: 25%;
	}
	.g-s-2 {
		width: 16.667%;
	}
	.g-s-1 {
		width: 8.333%;
	}
	.g-s-push-12 {
		left: 100%;
	}
	.g-s-push-11 {
		left: 91.667%;
	}
	.g-s-push-10 {
		left: 83.333%;
	}
	.g-s-push-9 {
		left: 75%;
	}
	.g-s-push-8 {
		left: 66.667%;
	}
	.g-s-push-7 {
		left: 58.333%;
	}
	.g-s-push-6 {
		left: 50%;
	}
	.g-s-push-5 {
		left: 41.667%;
	}
	.g-s-push-4 {
		left: 33.333%;
	}
	.g-s-push-3 {
		left: 25%;
	}
	.g-s-push-2 {
		left: 16.667%;
	}
	.g-s-push-1 {
		left: 8.333%;
	}
	.g-s-push-0 {
		left: auto;
	}
	.g-s-pull-12 {
		right: 100%;
	}
	.g-s-pull-11 {
		right: 91.667%;
	}
	.g-s-pull-10 {
		right: 83.333%;
	}
	.g-s-pull-9 {
		right: 75%;
	}
	.g-s-pull-8 {
		right: 66.667%;
	}
	.g-s-pull-7 {
		right: 58.333%;
	}
	.g-s-pull-6 {
		right: 50%;
	}
	.g-s-pull-5 {
		right: 41.667%;
	}
	.g-s-pull-4 {
		right: 33.333%;
	}
	.g-s-pull-3 {
		right: 25%;
	}
	.g-s-pull-2 {
		right: 16.667%;
	}
	.g-s-pull-1 {
		right: 8.333%;
	}
	.g-s-pull-0 {
		right: auto;
	}
}
@media screen and ( min-width: 1024px  ) {
	.g-m-12 {
		width: 100%;
	}
	.g-m-11 {
		width: 91.667%;
	}
	.g-m-10 {
		width: 83.333%;
	}
	.g-m-9 {
		width: 75%;
	}
	.g-m-8 {
		width: 66.667%;
	}
	.g-m-7 {
		width: 58.333%;
	}
	.g-m-6 {
		width: 50%;
	}
	.g-m-5 {
		width: 41.667%;
	}
	.g-m-4 {
		width: 33.333%;
	}
	.g-m-3 {
		width: 25%;
	}
	.g-m-2 {
		width: 16.667%;
	}
	.g-m-1 {
		width: 8.333%;
	}
	.g-m-push-12 {
		left: 100%;
	}
	.g-m-push-11 {
		left: 91.667%;
	}
	.g-m-push-10 {
		left: 83.333%;
	}
	.g-m-push-9 {
		left: 75%;
	}
	.g-m-push-8 {
		left: 66.667%;
	}
	.g-m-push-7 {
		left: 58.333%;
	}
	.g-m-push-6 {
		left: 50%;
	}
	.g-m-push-5 {
		left: 41.667%;
	}
	.g-m-push-4 {
		left: 33.333%;
	}
	.g-m-push-3 {
		left: 25%;
	}
	.g-m-push-2 {
		left: 16.667%;
	}
	.g-m-push-1 {
		left: 8.333%;
	}
	.g-m-push-0 {
		left: auto;
	}
	.g-m-pull-12 {
		right: 100%;
	}
	.g-m-pull-11 {
		right: 91.667%;
	}
	.g-m-pull-10 {
		right: 83.333%;
	}
	.g-m-pull-9 {
		right: 75%;
	}
	.g-m-pull-8 {
		right: 66.667%;
	}
	.g-m-pull-7 {
		right: 58.333%;
	}
	.g-m-pull-6 {
		right: 50%;
	}
	.g-m-pull-5 {
		right: 41.667%;
	}
	.g-m-pull-4 {
		right: 33.333%;
	}
	.g-m-pull-3 {
		right: 25%;
	}
	.g-m-pull-2 {
		right: 16.667%;
	}
	.g-m-pull-1 {
		right: 8.333%;
	}
	.g-m-pull-0 {
		right: auto;
	}
}
@media screen and ( min-width: 1280px ) {
	.g-l-12 {
		width: 100%;
	}
	.g-l-11 {
		width: 91.667%;
	}
	.g-l-10 {
		width: 83.333%;
	}
	.g-l-9 {
		width: 75%;
	}
	.g-l-8 {
		width: 66.667%;
	}
	.g-l-7 {
		width: 58.333%;
	}
	.g-l-6 {
		width: 50%;
	}
	.g-l-5 {
		width: 41.667%;
	}
	.g-l-4 {
		width: 33.333%;
	}
	.g-l-3 {
		width: 25%;
	}
	.g-l-2 {
		width: 16.667%;
	}
	.g-l-1 {
		width: 8.333%;
	}
	.g-l-push-12 {
		left: 100%;
	}
	.g-l-push-11 {
		left: 91.667%;
	}
	.g-l-push-10 {
		left: 83.333%;
	}
	.g-l-push-9 {
		left: 75%;
	}
	.g-l-push-8 {
		left: 66.667%;
	}
	.g-l-push-7 {
		left: 58.333%;
	}
	.g-l-push-6 {
		left: 50%;
	}
	.g-l-push-5 {
		left: 41.667%;
	}
	.g-l-push-4 {
		left: 33.333%;
	}
	.g-l-push-3 {
		left: 25%;
	}
	.g-l-push-2 {
		left: 16.667%;
	}
	.g-l-push-1 {
		left: 8.333%;
	}
	.g-l-push-0 {
		left: auto;
	}
	.g-l-pull-12 {
		right: 100%;
	}
	.g-l-pull-11 {
		right: 91.667%;
	}
	.g-l-pull-10 {
		right: 83.333%;
	}
	.g-l-pull-9 {
		right: 75%;
	}
	.g-l-pull-8 {
		right: 66.667%;
	}
	.g-l-pull-7 {
		right: 58.333%;
	}
	.g-l-pull-6 {
		right: 50%;
	}
	.g-l-pull-5 {
		right: 41.667%;
	}
	.g-l-pull-4 {
		right: 33.333%;
	}
	.g-l-pull-3 {
		right: 25%;
	}
	.g-l-pull-2 {
		right: 16.667%;
	}
	.g-l-pull-1 {
		right: 8.333%;
	}
	.g-l-pull-0 {
		right: auto;
	}
}
/*
 * Component: list
 ========================================================================== */
.l {
	position: relative;
	display: block;
	margin-bottom: 15px;
	background-color: #fff;
}
.l + .l {
	margin-top: 15px;
}
.l-top {
	position: relative;
	display: block;
	padding: 12px 15px;
	font-size: 16px;
	font-weight: 400;
	color: #333;
}
.l-row,
.l-btm {
	position: relative;
	display: block;
	padding: 15px;
}
.l-row > :last-child {
	margin-bottom: 0;
}
.l-btm,
.l-des {
	font-size: 12px;
	color: #999;
}
.l-exp {
	font-size: 12px;
	line-height: 1;
}
.l-tit {
	font-weight: 400;
}
.l.active .l-row:hover,
.l-row.active:hover {
	background-color: #f4f4f4;
}
.l-top-a,
.l-top-b {
	padding: 15px 15px 0;
}
.l-top-a:before {
	content: '';
	position: absolute;
	top: 15px;
	bottom: 0;
	left: 0;
	border-left: 3px solid #f60;
}
.l-top-a:after,
.l-top-b:after {
	display: none;
}
.l-top:after,
.l-a .l-row:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	border-bottom: 1px solid #ccc;
	-webkit-transform: scaleY(.5);
			transform: scaleY(.5);
	-webkit-transform-origin: 0 100%;
			transform-origin: 0 100%;
}
.l-a .l-row:last-child:after {
	border-bottom: 0;
}


.l-hoz .l-top {
	padding: 12px 0;
}
.l-hoz .l-row,
.l-hoz .l-btm {
	padding: 15px 0;
}
@media screen and ( min-width: 768px ) {
	.l-res + .l-res {
		margin-top: 30px;
	}
	.l-res .l-top,
	.l-res .l-row,
	.l-res .l-btm {
		padding: 15px 30px;
	}
	
	.l-hoz .l-top {
		padding: 15px 0;
	}
	.l-hoz .l-row,
	.l-hoz .l-btm {
		padding: 30px 0;
	}
}




/*  ==========================================================================  */

.p-tit {
	margin: 15px 10px 5px;
	font-weight: 400;
}
.p-tip {
	margin: 5px 10px 15px;
	font-size: 12px;
	color: #999;
}
.p-link {
	display: block;
	padding: 12px 15px;
	text-align: center;
}

/*  ==========================================================================  */

.c-ipt {
	position: absolute;
	left: -9999em;
}
.c-c {
	position: relative;
	display: inline-block;
	width: 14px;
	height: 14px;
	vertical-align: -2px;
	overflow: hidden;
}
.c-c:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 200%;
	height: 200%;
	margin: -7px 0 0 -7px;
	border: 1px solid rgba(0, 0, 0, .15);
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	-webkit-transform: scale(.5);
			transform: scale(.5);
}
.c-ipt[type="radio"] + .c-c:after {
	border-radius: 50%;
}
.c-ipt[type="radio"] + .c-c:before,
.c-ipt[type="checkbox"] + .c-c:before {
	content: '';
	position: absolute;
	z-index: 2;
	border-style: solid;
	border-color: transparent;
	transition: all .3s;
}
.c-ipt[type="radio"] + .c-c:before {
	top: 3px;
	left: 3px;
	border-width: 4px;
	border-radius: 50%;
	-webkit-transform: scale(0);
			transform: scale(0);
}
.c-ipt[type="radio"]:checked + .c-c:before {
	border-color: #fff;
	-webkit-transform: scale(1);
			transform: scale(1);
}
.c-ipt[type="checkbox"] + .c-c:before {
	top: 3px;
	left: 3px;
	width: 7px;
	height: 4px;
	border-width: 0 0 1px 1px;
	-webkit-transform: scale(0) rotate(-45deg);
			transform: scale(0) rotate(-45deg);
}
.c-ipt[type="checkbox"] + .c-c:after {
	border-radius: 3px;
}
.c-ipt[type="checkbox"]:checked + .c-c:before {
	border-color: #fff;
	-webkit-transform: scale(1) rotate(-45deg);
			transform: scale(1) rotate(-45deg);
}
.c-ipt[type="radio"]:checked + .c-c:after,
.c-ipt[type="checkbox"]:checked + .c-c:after {
	border-color: transparent;
	background-color: #41cac0;
}
.c-ipt[type="radio"]:disabled + .c-c:after,
.c-ipt[type="checkbox"]:disabled + .c-c:after {
	background-color: #eee;
}

/*  ==========================================================================  */
.n {
	padding: 0;
	margin: 0;
	list-style: none;
}
.n > li > a {
	position: relative;
	display: block;
	padding: 4px 25px;
	color: #333;
}
.n-a > li {
	float: left;
}
.n-a > li > a {
	margin-right: 15px;
	background-color: #fff;
}
.n-a > li.active > a {
	color: #fff;
	background-color: #f55;
}
.n-b > li {
	display: table-cell;
	width: 1%;
	text-align: center;
}
.n-b > li.active > a {
	color: #fff;
	background-color: #f55;
}
.n-c > li {
	float: left;
}
.n-c > li.active > a:after {
	content: '';
	position: absolute;
	right: 25px;
	bottom: 0;
	left: 25px;
	height: 2px;
	background-color: #f55;
}
.n-d > li {
	display: inline-block;
	padding: 0 10px;
}
.n-d > li + li {
	position: relative;
	padding-left: 20px;
}
.n-d > li + li:before {
	content: '/';
	position: absolute;
	left: 0;
	color: #999;
}
.n-d > li:last-child {
	color: #999;
}
.n-d > li > a {
	padding: 0;
}

.n-a:before, .n-a:after {
	content: '';
	display: table;
}
.n-a:after {
	clear: both;
}

/*  ==========================================================================  */

.p a {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 0 2px;
	line-height: 30px;
	text-align: center;
	background-color: #fff;
	border-radius: 3px;
}
.p a:hover {
	color: #f55;
	opacity: .8;
}
.p a.active {
	color: #fff;
	background-color: #f55;
}
.p-prev:after {
	content: '<';
	font-family: '宋体';
}
.p-next:after {
	content: '>';
	font-family: '宋体';
}