/*
 * Component: list
 ========================================================================== */
.l {
	position: relative;
	display: block;
	padding: 0;
	margin: 0 0 15px;
}
.l-top,
.l-row,
.l-btm {
	position: relative;
	display: block;
	min-height: 44px;
	padding: 12px 15px;
	line-height: 20px;
}
.l-top {
	padding: 19px 15px 5px;
}
.l-max {
	padding: 24px 30px;
}
.l-row {
	background-color: #fff;
}
.l-hd {
	font-size: 16px;
}
.l-bd {
	overflow: hidden;
}
.l-hd + .l-bd,
.l-hd + .l-ft,
.l-hd + .l-hd,
.l-bd + .l-bd,
.l-bd + .l-ft {
	margin-top: 10px;
}
.l-ft,
.l-sub,
.l-tol,
.l-last {
	font-size: 12px;
	color: #95a5a6;
}
.l-sub,
.l-tit,
.l-con,
.l-toe {
    text-overflow: ellipsis;
    white-space: nowrap;
	overflow: hidden;
}
.l-sub,
.l-dec {
	margin: 4px 0;
	line-height: 1;
}
.l-con {
	color: #95a5a6;
}
.l-last {
	min-width: 50px;
	margin-left: 10px;
	text-align: right;
}
.l-btm {
	color: #95a5a6;
}
/*弹性布局*/
.l-flex,
.l-just,
.l-tol,
.l-form .l-row,
.l-menu .l-row,
.l-info .l-row,
.l-talk .l-row,
.l-news .l-row {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}
.l-cell,
.l-form .l-bd,
.l-menu .l-hd,
.l-info .l-bd,
.l-talk .l-bd,
.l-news .l-bd {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
			flex: 1;
}
.l-cell {
	text-align: center;
}
.l-cell:first-child {
	text-align: left;
}
.l-cell:last-child {
	text-align: right;
}
/*自动分布*/
.l-tol,
.l-just {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
			justify-content: space-between;
}
.l-just + .l-just {
	margin-top: 4px;
}
/*卡片式布局*/
.l-card .l-top {
	padding: 12px 15px;
	margin-top: 15px;
	background-color: #fff;
}
.l-card .l-top.u-dn {
	padding: 12px 15px 0;
	min-height: 0;
}
.l-card .l-btm {
	background-color: #fff;
}
/*结算列表*/
.l-shop .l-btm {
	text-align: center;
	color: #1abc9c;
	background-color: #fff;
}
/*表单列表*/
.l-form .l-row {
	padding: 0;
}
.l-form .l-row:after {
	left: 15px;
}
.l-form .l-hd {
	width: 65px;
	margin: 12px 15px;
	font-size: 14px;
}
.l-form .l-hd + .l-bd {
	margin-top: 0;
}
.l-form .l-ipt {
	display: block;
	width: 100%;
	height: 44px;
	padding: 12px 15px;
	line-height: 20px;
	border: 0;
	-webkit-appearance: none;
			appearance: none;
}
.l-form textarea.l-ipt {
	height: auto;
}
.l-code .l-ft {
	margin-top: 0;
}
.l-code button,
.l-code .b {
	width: 100px;
	height: 44px;
	padding: 12px 15px;
	border-radius: 0;
}
/*菜单列表*/
.l-menu .l-row:after {
	left: 54px;
}
.l-menu .l-img,
.l-check .l-img {
	width: 24px;
	height: 24px;
	margin: -2px 15px -2px 0;
}
.l-menu .l-hd + .l-ft {
	margin-top: 0;
}
/*开关列表*/
.l-switch .l-hd + .l-ft {
	margin: -6px 0;
}
/*消息列表*/
.l-info .l-row:after {
	left: 74px;
}
.l-info .l-img {
	width: 44px;
	height: 44px;
	margin-right: 15px;
	border-radius: 5px;
}
.l-info .l-tit {
	font-size: 16px;
}
/*选择列表*/
.l-check .f-mul {
	float: right;
}
.l-check .f-mul [type="checkbox"] + .f-box {
	border: 0;
}
.l-check .f-mul [type="checkbox"] + .f-box:before {
	top: 2px;
	left: 1px;
	width: 15px;
	height: 8px;
}
.l-check .f-mul [type="checkbox"]:checked + .f-box {
	background-color: transparent;
}
.l-check .f-mul-fill [type="checkbox"]:checked + .f-box:before {
	border-color: #34495e;
}
/*对话列表*/
.l-talk .l-row:after {
	left: 65px;
}
.l-talk .l-tit-bd {
	font-size: 14px;
}
.l-talk .l-img {
	width: 35px;
	height: 35px;
	margin-right: 15px;
	border-radius: 100px;
}
.l-news .l-tit,
.l-talk .l-con,
.l-toe-2 {
	height: 40px;
	white-space: normal;
	
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
/*新闻列表*/
.l-news .l-row:after {
	left: 110px;
}
.l-news .l-img {
	width: 80px;
	height: 60px;
	margin-right: 15px;
}
.l-news .l-tol {
	margin-top: 7px;
	line-height: 1;
}
.l-news.right .l-row:after {
	left: 0;
	right: 110px;
}
.l-news.right .l-img {
	margin: 0 0 0 15px;
}
/*多图列表*/
.l-more .l-row:after {
	left: 0;
}
.l-more .l-img {
	margin: 0;
	width: 100%;
	height: auto;
}
.l-more .l-flex {
	margin: 0 0 10px -10px;
	overflow: hidden;
}
.l-more .l-flex .l-cell {
	padding-left: 10px;
}
/*卡片列表*/
.l-panel .l-sub {
	margin-bottom: 0;
}
.l-panel .l-tol {
	margin-top: 0;
}
.l-pic {
	position: relative;
	display: block;
	overflow: hidden;
}
.l-pic img {
	width: 100%;
}
/*下划线*/
.l-top:after,
.l-row:after {
	content: '';
	position: absolute;
	right: 0;
	left: 0;
	border-bottom: 1px solid #dee5ed;
	-webkit-transform: scaleY(.5);
			transform: scaleY(.5);
}
.l-top:after,
.l-row:after {
	bottom: 0;
	-webkit-transform-origin: 0 100%;
			transform-origin: 0 100%;
}
.l-panel .l-top:after,
.l-panel .l-row:after,
.l-row:last-child:after {
	display: none;
}
/*点击样式*/
.l-shop .l-btm:active,
.l.active .l-row:active,
.l-row.active:active {
	background-color: #f4f4f4;
}
/*大边距*/
.l-lar {
	margin-bottom: 30px;
}
.l-lar > .l-top,
.l-lar > .l-row,
.l-lar > .l-btm  {
	padding: 24px 30px;
}
/*小边距*/
.l-del > .l-top,
.l-del > .l-row,
.l-del > .l-btm  {
	padding: 12px 0;
}
/*响应边距*/
.l-res > .l-top,
.l-res > .l-row,
.l-res > .l-btm  {
	padding: 12px 15px;
}
@media screen and ( min-width: 768px ) {
	.l-res {
		margin-bottom: 30px;
	}
	.l-res > .l-top,
	.l-res > .l-row,
	.l-res > .l-btm  {
		padding: 24px 30px;
	}
}