/*
 * Component: nav
 ========================================================================== */
.n-fixed {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 3;
	line-height: inherit;
}
.n-bar.n-fixed ~ .k-container {
	padding-top: 48px;
}
.n-tab.n-fixed ~ .k-container {
	padding-bottom: 50px;
}
/*顶部导航*/
.n-bar {
	top: 0;
	min-height: 48px;
	background-color: #fff;
}
.n-left,
.n-right {
	position: relative;
	z-index: 1;
	height: 48px;
	padding: 12px;
	line-height: 24px;
}
.n-left {
	float: left;
}
.n-right {
	float: right;
}
.n-left:active,
.n-right:active {
	opacity: .2;
}
.n-left i,
.n-right i {
	font-size: 24px;
	vertical-align: -3px;
}
.n-tit {
	position: absolute;
	right: 48px;
	left: 48px;
	z-index: 0;
	line-height: 48px;
	text-align: center;
	font-size: 17px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.n-tit img {
	height: 100%;
}
/*选项卡*/
.n-tab {
	bottom: 0;
	background-color: #fff;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}
.n-cell {
	position: relative;
	text-align: center;
	cursor: pointer;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
			flex: 1;
}
.n-cell.active {
	color: #1abc9c;
}
.n-ft {
	margin-bottom: 4px;
	font-size: 12px;
	line-height: 1;
}
.n-tab .k-badge {
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: 5px;
	background-color: #e45853;
}
.n-tab .k-badge:empty {
	padding: 5px;
}
.n-tab .n-cell img,
.n-tab .n-cell i {
	width: 24px;
	height: 24px;
	margin: 6px 0 4px;
	font-size: 24px;
}
.n-a {
	display: block;
}
.n-a .n-cell {
	display: inline-block;
	padding: 10px 15px;
}
.n-a .n-cell.active {
	color: #fff;
	background-color: #1abc9c;
}
.n-b .n-cell {
	padding: 10px 0;
}
.n-b .n-cell:after {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 2px;
	background-color: #1abc9c;
	transition: all .3s;
	-webkit-transform: scale3d(0, 0, 0);
			transform: scale3d(0, 0, 0);
}
.n-b .n-cell.active:after {
	-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
}
.n-c {
	border: 1px solid #34495e;
	background-color: transparent;
	border-radius: 3px;
}
.n-c .n-cell {
	color: #34495e;
	padding: 9px 0;
	border-right: 1px solid #34495e;
}
.n-c .n-cell:last-child {
	border: none;
}
.n-c .n-cell.active {
	color: #fff;
	background-color: #34495e;
}
/*导航条*/
.n-logo a {
	display: block;
	padding: 5px 15px;
	font-size: 24px;
}
.n-nav li a {
	display: block;
	padding: 7px 15px;
}
.n-nav li a:hover,
.n-nav li.active a {
	background-color: #f4f4f4;
}