html {
	background-color: #f4f4f4; 
}
.mask,
.side {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
	height: 100%;
	transition: all .3s;
}
.mask {
	width: 100%;
	pointer-events: none;
}
.side {
	width: 240px;
	background-color: #fff;
	overflow: auto;
	box-shadow: 0px 5px 16px rgba(0, 0, 0, .15);
	-webkit-transform: translate3d(-110%, 0, 0);
			transform: translate3d(-110%, 0, 0);
	-webkit-overflow-scrolling: touch;
}
body.active .mask {
	background-color: rgba(0, 0, 0, .6);
	box-shadow: inset 0 0 10px rgba(0, 0, 0, .15);
	pointer-events: all;
}
body.active .side {
	-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
}
.side .n-logo {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 240px;
}
.side .n-logo a {
	padding: 7px 25px;
	color: #fff;
	background-color: #34495e;
}
.side .n-logo img {
	display: block;
	height: 34px;
}
.side .n-nav a {
	padding: 7px 25px;
	margin-bottom: 5px;
}
.side .n-icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 24px;
	padding: 5px;
	border-radius: 50%;
}
.side .n-icon img {
	position: relative;
	top: -1px;
}
.side .n-nav {
	height: 100%;
	padding-top: 65px;
	overflow: auto;
}
.side .n-nav small {
	margin-left: 10px;
}


.main-top {
	margin: 30px 0;
}
.l-res > .l-top {
	padding-bottom: 0;
	margin-bottom: 0;
}
.demo,
.code {
	position: relative;
	padding-top: 35px;
}
.demo:before,
.code:before {
	content: 'Demo';
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	color: #fff;
	border-radius: 10px;
	background-color: #50c7f9;
}
.demo:after {
	content: '';
	display: block;
	clear: both;
}
.code {
	margin-top: 30px;
}
.code > :last-child {
	margin-bottom: 0;
}
.code:before {
	content: 'Code';
	background-color: #f6c903;
}


.n-bar.n-fixed {
	box-shadow: 0 1px 5px rgba(0, 0, 0, .05);
}


@media screen and ( max-width: 768px ) {
	.main-top {
		padding: 0 15px;
	}
}
@media screen and ( min-width: 768px ) {
	html:not(.index) body {
		padding-left: 240px;
	}
	html:not(.index) .k-container {
		padding: 0 80px;
	}
	.side {
		-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
	}
	.n-bar.n-fixed {
		display: none;
	}
}


/*首页*/
.index .head {
	margin: 50px 0 80px;
	text-align: center;
	font-size: 72px;
	font-weight: 700;
}
.index .top {
	position: absolute;
	width: 100%;
	padding: 30px 0;
	text-align: center;
	color: #fff;
}
.index .top-time {
	font-size: 64px;
}
.index .foot {
	margin: 80px 0;
	text-align: center;
}
.index .foot .b {
	line-height: 30px;
}
.index .foot img {
	width: 30px;
	vertical-align: top;
}
@media screen and ( max-width: 768px ) {
	.index {
		height: 100%;
		overflow: hidden;
		background-image: url(../images/bg.jpg);
		background-size: 100% 100%;
	}
	.index .main {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		padding-top: 0;
	}
	.index .g > * {
		width: 25%;
		text-align: center;
	}
	.index .l-row {
		padding: 0 0 10px;
		background-color: transparent;
	}
	.index .k-icon {
		width: 60px;
		height: 60px;
		margin: 0 auto 2px;
		border-radius: 10px;
	}
	.index .l-hd {
		font-size: 12px;
		color: #fff;
	}
	.index .foot,
	.index .head,
	.index .l-bd,
	.index .l-ft {
		display: none;
	}
}
@media screen and ( min-width: 768px ) {
	.index {
		background-color: #f4f4f4;
	}
	.index .top {
		display: none;
	}
	.index .g {
		margin: 0 0 0 -3px;
	}
	.index .g > * {
		padding-left: 3px;
	}
	.index .l {
		margin-bottom: 3px;
		transition: all .3s;
	}
	.index a.l:hover {
		z-index: 2;
		box-shadow: 0 0 20px rgba(0, 0, 0, .1);
		-webkit-transform: scale(1.02);
				transform: scale(1.02);
	}
	.index .l-row {
		padding: 50px;
	}
	.index .k-icon {
		margin-bottom: 15px;
	}
	.index .l-bd {
		font-size: 24px;
		font-weight: 700;
	}
}


/*按钮*/
.button .demo:not(.not) button,
.button .demo:not(.not) .b {
	margin-bottom: 10px;
}


/*网格*/
.grid .demo .bc-a {
	background-color: #fafafa;
}


/*颜色*/
.color .demo {
	text-align: center;
}
.color .demo span {
	float: left;
	width: 10%;
	height: 40px;
	line-height: 40px;
}
.color .webcolor > div {
	height: 80px;
}
.color .webcolor span {
	float: left;
	width: 30px;
	height: 65px;
}
.color .webcolor .color-name {
	margin-left: 40px;
}
.color .webcolor .color-txt {
	margin-left: 40px;
	font-size: 12px;
	line-height: 15px;
	color: #95a5a6;
	text-transform: lowercase;
}
.color .group {
	float: left;
    text-align: center;
    width: 33.33333333%;
    text-transform: lowercase;
}
.color .group span {
    display: block;
    height: 40px;
}


/*动画*/
.anime .preview {
	position: fixed;
	top: 50%;
	right: 20px;
	z-index: 4;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	background-color: #000;
	border-radius: 3px;
	transition: all .5s;
}
.anime .preview .box {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #f55;
	border-radius: 3px;
}
.anime .preview .box i {
	color: #fff;
	font-size: 24px;
	line-height: 40px;
}
@media screen and ( max-width: 767px ) {
	.anime .preview {
		top: 4px;
		right: 15px;
		left: auto;
		margin-top: 0;
	}
}
.anime button,
.anime .b {
	margin-bottom: 10px;
}


/*图标*/
.iconbox .k-mb {
	text-align: center;
	background-color: #fafafa;
	transition: all .3s;
}
.iconbox .k-mb:hover {
	color: #fff;
	background-color: #f55;
}
.iconbox .k-mb p {
	margin-top: 5px;
	margin-bottom: 0;
	font-size: 12px;
	line-height: 16px;
}
.iconbox .k-mb i {
	margin-top: 20px;
	font-size: 36px;
}


/*弹层*/
.d-style1 .l-hd,
.d-style1 .l-ft {
	margin: 30px 0;
}
.d-style1 .l-bd .l-img {
	width: 40px;
	margin: 0 20px;
}
#dialog2 .d-style1 .l-top {
	padding: 20px 15px;
	color: #fff;
	background-image: url(../pic/d-kt2.png);
	background-repeat: no-repeat;
	background-position: 85% bottom;
	background-color: #1caff6;
}
#dialog3 .d-dialog {
	width: 600px;
}
#sheet2 .d .k-icon {
	margin-bottom: 3px;
}
@media screen and ( min-width: 768px ) {
	.d-style1 .l-bd .l-img {
		width: 60px;
		margin: 0 50px;
	}
}