.k-tabs {
	overflow: hidden;
	margin-bottom: 15px;
}
.k-tab-bar {
	font-size: 13px;
	line-height: 20px;
}
.k-tab-cell {
	position: relative;
	text-align: center;
	cursor: pointer;
}
.k-tab-bd {
	display: block;
	padding: 6px 15px;
}
.k-tab-con {
	background-color: #fff;
}
.k-tab-item {
	display: none;
	padding: 15px;
}
.k-tab-item:first-child {
	display: block;
}

.l-tabs-a .k-tab-bar {
	display: table;
}
.k-tabs-a .k-tab-cell {
	display: table-cell;
	width: 1%;
	background-color: #fff;
}
.k-tabs-a .k-tab-cell.active .k-tab-bd {
	color: #fff;
	background-color: #41cac0;
}

.k-tabs-b .k-tab-cell {
	float: left;
	width: auto;
	margin-right: 15px;
}
.k-tabs-b .k-tab-bd {
	padding: 4px 15px;
	border: 2px solid #ddd;
}
.k-tabs-b .k-tab-cell.active .k-tab-bd {
	border-color: #41cac0;
	background-color: transparent;
}
.k-tabs-b .k-tab-bar {
	margin-bottom: 15px;
}

.k-tabs-c .k-tab-bar {
	height: 32px;
	border-bottom: 1px solid #ddd;
}
.k-tabs-c .k-tab-cell {
	float: left;
	width: auto;
	margin-right: 15px;
	border: 1px solid #ddd;
	border-bottom: none;
}
.k-tabs-c .k-tab-bd {
	height: 31px;
}
.k-tabs-c .k-tab-cell.active {
	background-color: #fff;
}
.k-tabs-c .k-tab-con {
	margin-top: -1px;
	border: 1px solid #ddd;
}

.k-tabs-d {
	
}