<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"> 
	<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0,user-scalable=0" />
	<link rel="stylesheet" href="../kuiPlus/css/kui.css">
	<link rel="stylesheet" href="../kuiPlus/css/list.css">
	<link rel="stylesheet" href="../kuiPlus/css/button.css">
	<link rel="stylesheet" href="../css/icon.css">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body ontouchstart>
	<header class="header">
		<div class="k-container k-container-cen">
			<div class="n-logo">
				<img src="../images/logo.png">
			</div>
			<i class="n-menu i-menu"></i>
			<ul class="n n-c">
				<li>
					<a href="../index.html">首页</a>
				</li>
				<li class="active">
					<a href="Template.html">模板</a>
				</li>
				<li>
					<a href="../kui/index.html">KUI</a>
				</li>
				<li>
					<a href="../kuiPlus/index.html">KUI+</a>
				</li>
				<li>
					<a href="../Articles/articles.html">文章收藏</a>
				</li>
				<li>
					<a href="../Resume/index.html">我的简历</a>
				</li>
			</ul>
		</div>


		<div class="banner2"></div>
	</header><!--end header-->


	<div class="k-container k-container-cen main">
		<ul class="n n-d">
			<li>
				<a href="../index.html">首页</a>
			</li>
			<li>
				<a href="Template.html">模版</a>
			</li>
			<li>
				手机模版
			</li>
		</ul><!--end n-->


		<div class="g g-res">
			<div class="g-m-8 main-left">
				<div class="l l-res">
					<div class="l-top">
						<p>
							<span class="k-label k-bc-c">手机模版</span>
						</p>
						<a href="1.html">Sublime Text 3最好的功能、插件和设置</a>
					</div>
					<div class="l-btm">
						<span>时间：2015-06-18</span>
						<span>作者：李珂</span>
						<span>本文地址：<a class="t-info" href="">http://www.likejq.com/Template/1.html</a></span>
					</div>
					<div class="l-row">
						<p>婚纱网站模板主要色调有红色、紫色。此模板采用紫色为主，浪漫与神秘相集合。页面采用横向布局，幻灯宽屏显示，主要重点为突出图片的展示效果。文字活动信息列表，采用标签切换的方式，底部信息增加了二维码扫描以及分享功能。</p>
						<h4 class="k-tac">个人博客《草根寻梦》— 手机版模板 - 页面截图1</h4>
						<p class="k-tac"><img src="../pic/1.jpg"></p>
						<p>婚纱网站模板主要色调有红色、紫色。此模板采用紫色为主，浪漫与神秘相集合。页面采用横向布局，幻灯宽屏显示，主要重点为突出图片的展示效果。文字活动信息列表，采用标签切换的方式，底部信息增加了二维码扫描以及分享功能。</p>
						<p class="k-tac"><img src="../pic/1.jpg"></p>
						<p>婚纱网站模板主要色调有红色、紫色。此模板采用紫色为主，浪漫与神秘相集合。页面采用横向布局，幻灯宽屏显示，主要重点为突出图片的展示效果。文字活动信息列表，采用标签切换的方式，底部信息增加了二维码扫描以及分享功能。</p>
					</div>
					<div class="l-btm k-tac">
						<a class="b b-bc-g"><i class="i-thumb-up"></i> 赞</a>
						<a class="b b-bc-g"><i class="i-download"></i> 下载</a>
						<a class="b b-bc-g"><i class="i-computer"></i> 预览</a>
					</div>
					<div class="l-btm">
						<div>
							
						</div>
						<div>
							上一篇：<a class="t-info" href="">没有了</a>
						</div>
						<div>
							下一篇：<a class="t-info" href="">棕红色响应式垂直自媒体wordpress博客模板</a>
						</div>
					</div>
				</div>
			</div><!--end main-left-->


			<div class="g-m-4 main-right">
				<div class="l l-res menu">
					<div class="l-row">
						<div class="g k-tac">
							<div class="g-3">
								<a class="l" href="javascript:;">
									<img class="l-img" src="../images/1.svg">
									<div class="l-exp">博客模板</div>
								</a>
							</div>
							<div class="g-3">
								<a class="l" href="javascript:;">
									<img class="l-img" src="../images/2.svg">
									<div class="l-exp">HTML5</div>
								</a>
							</div>
							<div class="g-3">
								<a class="l" href="javascript:;">
									<img class="l-img" src="../images/4.svg">
									<div class="l-exp">开发工具</div>
								</a>
							</div>
							<div class="g-3">
								<a class="l" href="javascript:;">
									<img class="l-img" src="../images/5.svg">
									<div class="l-exp">素材资源</div>
								</a>
							</div>
						</div>
					</div>
				</div><!--end l-->


				<div class="l l-res hot l-a active">
					<div class="l-top">推荐文章</div>
					<div class="l-row">
						<div class="l-bd">
							<a href="">世界上最值得去的20个地方【组图】</a>
						</div>
						<div class="l-des">
							人气(126)
						</div>
						<a class="l-ft" href="">
							<img class="l-img" src="../pic/model-1.png">
						</a>
					</div>
					<div class="l-row">
						<div class="l-bd">
							<a href="">Matter.js – 你不能错过的 2D 物理引擎</a>
						</div>
						<div class="l-des">
							人气(126)
						</div>
						<a class="l-ft" href="">
							<img class="l-img" src="../pic/model-2.png">
						</a>
					</div>
					<div class="l-row">
						<div class="l-bd">
							<a href="">Devrama Slider – 支持任意 HTML 的内容滑块1</a>
						</div>
						<div class="l-des">
							人气(126)
						</div>
						<a class="l-ft" href="">
							<img class="l-img" src="../pic/model-3.png">
						</a>
					</div>
					<div class="l-row">
						<div class="l-bd">
							<a href="">20款移动开发中很有用的 jQuery 插件20</a>
						</div>
						<div class="l-des">
							人气(126)
						</div>
						<a class="l-ft" href="">
							<img class="l-img" src="../pic/model-4.png">
						</a>
					</div>
					<div class="l-row">
						<div class="l-bd">
							<a href="">FocusPoint.js 实现图片的响应式裁剪2</a>
						</div>
						<div class="l-des">
							人气(126)
						</div>
						<a class="l-ft" href="">
							<img class="l-img" src="../pic/model-2.png">
						</a>
					</div>
				</div><!--end l-->
			</div><!--end main-right-->
		</div><!--end g-->
	</div><!--end main-->

	<footer class="footer">
		<div class="k-container">
			Design by LiKe 鲁ICP备11002373号-1
		</div>
	</footer>

	<div class="main-shade"></div>
	
	<script type="text/javascript" src="../js/zepto.min.js"></script>
	<script type="text/javascript" src="../js/example.js"></script>

</body>
</html>