<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"> 
	<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0,user-scalable=0" />
	<link rel="stylesheet" href="../kuiPlus/css/kui.css">
	<link rel="stylesheet" href="../kuiPlus/css/list.css">
	<link rel="stylesheet" href="../kuiPlus/css/button.css">
	<link rel="stylesheet" href="../css/icon.css">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body ontouchstart>

	<header class="header">

		<div class="k-container">
			<div class="nav-logo">
				<img src="../images/logo.png">
			</div>
			<i class="nav-menu icon-menu"></i>
			<ul class="n n-c">
				<li>
					<a href="../index.html">首页</a>
				</li>
				<li class="active">
					<a href="Template.html">模板</a>
				</li>
				<li>
					<a href="../kui/index.html">KUI</a>
				</li>
				<li>
					<a href="../kuiPlus/index.html">KUI+</a>
				</li>
				<li>
					<a href="../Articles/articles.html">文章收藏</a>
				</li>
				<li>
					<a href="../Resume/index.html">我的简历</a>
				</li>
			</ul>
		</div>

		<div class="banner2"></div>

	</header>

	<div class="k-container main">

		<ul class="n n-d">
			<li>
				<a href="../index.html">首页</a>
			</li>
			<li>
				模版
			</li>
		</ul>

		<div class="h">
			<div class="h-m-8 main-left">

				<ul class="n n-b">
					<li class="active">
						<a class="n-bd" href="">
							全部
						</a>
					</li>
					<li>
						<a class="n-bd" href="">
							个人模版
						</a>
					</li>
					<li>
						<a class="n-bd" href="">
							企业模版
						</a>
					</li>
					<li>
						<a class="n-bd" href="">
							后台模版
						</a>
					</li>
				</ul>

				<div class="l">
					<div class="l-top">
						<div>
							<span class="k-label bg-green">手机模版</span>
						</div>
						<a href="1.html">个人博客《草根寻梦》—手机版模板</a>
					</div>
					<div class="l-btm">
						<span>时间：2015-06-18</span>
						<span>作者：李珂</span>
					</div>
					<div class="l-sec">
						<div class="l-row">
							<div class="l-bd">
								把帝国7.0系统升级到最新版本7.2，7.2版本主要是增加了一个多终端的功能，于是琢磨着做一个手机模板出来看看，在现在的模板基础上稍微改动的。使用电脑的朋友可以直接访问m.yangqq.com 
							</div>
							<a class="l-ft" href="1.html">
								<img class="l-img" src="../pic/1.jpg">
							</a>
						</div>
					</div>
					<div class="l-btm">
						<a class="b b-blue k-mr" href="1.html">阅读全文</a>
						<span>阅读(618)</span>
						<span>赞(15)</span>
						<span>下载(15)</span>
					</div>
				</div>

				<div class="l">
					<div class="l-top">
						<div>
							<span class="k-label bg-green">个人模版</span>
						</div>
						<a href="2.html">情侣博客模板系列之《回忆》Html</a>
					</div>
					<div class="l-btm">
						<span>时间：2015-06-16</span>
						<span>作者：李珂</span>
					</div>
					<div class="l-sec">
						<div class="l-row">
							<div class="l-bd">
								当你开始设计网站的时候，脑海中应该有一个丰富的配色方案和字体方案。这个网络竞争激烈的时代，如何吸引用户到你的网站是非常有挑战是一件事。从设计角度来说，精美的有创意的网站能吸引住用户并让用户记住你的网站。因此，今天这篇文章向大家分享收集了30个与众不同的国外网站设计作品，设计师们可...
							</div>
							<a class="l-ft" href="2.html">
								<img class="l-img" src="../pic/2.jpg">
							</a>
						</div>
					</div>
					<div class="l-btm">
						<a class="b b-blue k-mr" href="2.html">阅读全文</a>
						<span>阅读(1812)</span>
						<span>赞(352)</span>
						<span>下载(26)</span>
					</div>
				</div>

				<div class="p k-tac">
					<a class="p-prev" href=""></a>
					<a class="active" href="">1</a>
					<a href="">2</a>
					<a href="">3</a>
					<a href="">4</a>
					<a class="p-next"></a>
				</div>

			</div>


			<div class="h-m-4 main-right">

				<div class="l menu">
					<div class="l-row">
						<div class="h k-tac">
							<div class="h-3">
								<a class="l" href="javascript:;">
									<img class="l-img" src="../images/1.svg">
									<div class="l-exp">博客模板</div>
								</a>
							</div>
							<div class="h-3">
								<a class="l" href="javascript:;">
									<img class="l-img" src="../images/2.svg">
									<div class="l-exp">HTML5</div>
								</a>
							</div>
							<div class="h-3">
								<a class="l" href="javascript:;">
									<img class="l-img" src="../images/4.svg">
									<div class="l-exp">开发工具</div>
								</a>
							</div>
							<div class="h-3">
								<a class="l" href="javascript:;">
									<img class="l-img" src="../images/5.svg">
									<div class="l-exp">素材资源</div>
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="l hot l-a active">
					<div class="l-top">推荐文章</div>
					<div class="l-row">
						<div class="l-bd">
							<a href="">世界上最值得去的20个地方【组图】</a>
						</div>
						<div class="l-des">
							人气(126)
						</div>
						<a class="l-ft" href="">
							<img class="l-img" src="../pic/model-1.png">
						</a>
					</div>
					<div class="l-row">
						<div class="l-bd">
							<a href="">Matter.js – 你不能错过的 2D 物理引擎</a>
						</div>
						<div class="l-des">
							人气(126)
						</div>
						<a class="l-ft" href="">
							<img class="l-img" src="../pic/model-2.png">
						</a>
					</div>
					<div class="l-row">
						<div class="l-bd">
							<a href="">Devrama Slider – 支持任意 HTML 的内容滑块1</a>
						</div>
						<div class="l-des">
							人气(126)
						</div>
						<a class="l-ft" href="">
							<img class="l-img" src="../pic/model-3.png">
						</a>
					</div>
					<div class="l-row">
						<div class="l-bd">
							<a href="">20款移动开发中很有用的 jQuery 插件20</a>
						</div>
						<div class="l-des">
							人气(126)
						</div>
						<a class="l-ft" href="">
							<img class="l-img" src="../pic/model-4.png">
						</a>
					</div>
					<div class="l-row">
						<div class="l-bd">
							<a href="">FocusPoint.js 实现图片的响应式裁剪2</a>
						</div>
						<div class="l-des">
							人气(126)
						</div>
						<a class="l-ft" href="">
							<img class="l-img" src="../pic/model-2.png">
						</a>
					</div>
				</div>
				
			</div>
		</div>

	</div>

	<footer class="footer">
		<div class="k-container">
			Design by LiKe 鲁ICP备11002373号-1
		</div>
	</footer>

	<div class="main-shade"></div>
	
	<script type="text/javascript" src="../js/zepto.min.js"></script>
	<script type="text/javascript" src="../js/example.js"></script>
</body>
</html>