/* ==========================================================================
   kui icon.css 1.0
   ========================================================================== */
@font-face {
	font-family: kui;
	src: url('../fonts/kui.ttf') format('truetype');
}
[class^="icon-"],
[class*="icon-"] {
	display: inline-block;
	font-family: "kui" !important;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 1;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	/*-webkit-text-stroke-width: 0.2px;*/
}
.icon-arrow-down:before {
	content: "\e600";
}
.icon-arrow-left:before {
	content: "\e601";
}
.icon-arrow-right:before {
	content: "\e602";
}
.icon-arrow-up:before {
	content: "\e603";
}
.icon-angle-up:before {
	content: "\e604";
}
.icon-angle-left:before {
	content: "\e605";
}
.icon-angle-right:before {
	content: "\e606";
}
.icon-angle-down:before {
	content: "\e607";
}
.icon-cloud-upload:before {
	content: "\e608";
}
.icon-cloud-download:before {
	content: "\e609";
}
.icon-upload:before {
	content: "\e60a";
}
.icon-download:before {
	content: "\e60b";
}
.icon-plus:before {
	content: "\e60c";
}
.icon-minus:before {
	content: "\e60d";
}
.icon-cross:before {
	content: "\e60e";
}
.icon-check:before {
	content: "\e60f";
}
.icon-user-fill:before {
	content: "\e610";
}
.icon-user:before {
	content: "\e611";
}
.icon-users-fill:before {
	content: "\e612";
}
.icon-users:before {
	content: "\e613";
}
.icon-heart-fill:before {
	content: "\e614";
}
.icon-heart:before {
	content: "\e615";
}
.icon-home:before {
	content: "\e616";
}
.icon-home-fill:before {
	content: "\e617";
}
.icon-star-fill:before {
	content: "\e618";
}
.icon-star:before {
	content: "\e619";
}
.icon-map:before {
	content: "\e61a";
}
.icon-map2:before {
	content: "\e61b";
}
.icon-chart-pie:before {
	content: "\e61d";
}
.icon-info-bd:before {
	content: "\e61e";
}
.icon-help-bd:before {
	content: "\e61f";
}
.icon-cross-bd:before {
	content: "\e620";
}
.icon-check-bd:before {
	content: "\e621";
}
.icon-plus-bd:before {
	content: "\e622";
}
.icon-minus-bd:before {
	content: "\e623";
}
.icon-rmb-bd:before {
	content: "\e624";
}
.icon-bulb:before {
	content: "\e625";
}
.icon-time:before {
	content: "\e626";
}
.icon-calendar:before {
	content: "\e627";
}
.icon-img:before {
	content: "\e628";
}
.icon-email:before {
	content: "\e629";
}
.icon-msg:before {
	content: "\e62a";
}
.icon-coupon:before {
	content: "\e62b";
}
.icon-cog:before {
	content: "\e62c";
}
.icon-share:before {
	content: "\e62d";
}
.icon-refresh:before {
	content: "\e62e";
}
.icon-repeat:before {
	content: "\e62f";
}
.icon-phone:before {
	content: "\e630";
}
.icon-lock:before {
	content: "\e631";
}
.icon-music:before {
	content: "\e632";
}
.icon-mic:before {
	content: "\e633";
}
.icon-qrcode:before {
	content: "\e634";
}
.icon-tab:before {
	content: "\e635";
}
.icon-more:before {
	content: "\e636";
}
.icon-file:before {
	content: "\e637";
}
.icon-key:before {
	content: "\e638";
}
.icon-iphone:before {
	content: "\e639";
}
.icon-search:before {
	content: "\e63a";
}
.icon-loading:before {
	content: "\e63b";
}
.icon-list:before {
	content: "\e63c";
}
.icon-list2:before {
	content: "\e63d";
}
.icon-menu:before {
	content: "\e63e";
}
.icon-computer:before {
	content: "\e63f";
}
.icon-laptop:before {
	content: "\e640";
}
.icon-camera:before {
	content: "\e641";
}
.icon-qq:before {
	content: "\e642";
}
.icon-weixin:before {
	content: "\e643";
}
.icon-sina:before {
	content: "\e644";
}
.icon-gift:before {
	content: "\e645";
}
.icon-paperclip:before {
	content: "\e646";
}
.icon-shopping:before {
	content: "\e647";
}
.icon-card:before {
	content: "\e648";
}
.icon-shopping-cart:before {
	content: "\e649";
}
.icon-edit:before {
	content: "\e64a";
}
.icon-trash:before {
	content: "\e64b";
}
.icon-thumb-up:before {
	content: "\e64c";
}
.icon-volume:before {
	content: "\e64d";
}
.icon-rmb:before {
	content: "\e64e";
}
.icon-phonebook:before {
	content: "\e64f";
}
.icon-send:before {
	content: "\e650";
}
.icon-woman:before {
	content: "\e651";
}
.icon-man:before {
	content: "\e652";
}
.icon-table:before {
	content: "\e653";
}
.icon-exit:before {
	content: "\e654";
}
.icon-emoji:before {
	content: "\e655";
}
.icon-chart:before {
	content: "\e656";
}