/* ==========================================================================
  ho style
  ========================================================================== */
.ho:before, .ho:after {
  display: table;
  content: " ";
}
.ho:after {
  clear: both;
}
[class*="ho-"] {
  position: relative;
  min-height: 1px;
}
.ho-s-1,
.ho-s-2,
.ho-s-3,
.ho-s-4,
.ho-s-5,
.ho-s-6,
.ho-s-7,
.ho-s-8,
.ho-s-9,
.ho-s-10,
.ho-s-11,
.ho-s-12 {
  float:left;
}
.ho-s-12 { 
  width:100%;
}
.ho-s-11 { 
  width:91.66667%;
}
.ho-s-10 { 
  width:83.33333333%;
}
.ho-s-9 { 
  width:75%;
}
.ho-s-8 { 
  width:66.66667%;
}
.ho-s-7 { 
  width:58.33333333%;
}
.ho-s-6 { 
  width:50%;
}
.ho-s-5 { 
  width:41.66667%;
}
.ho-s-4 { 
  width:33.33333333%;
}
.ho-s-3 { 
  width:25%;
}
.ho-s-2 { 
  width:16.66667%;
}
.ho-s-1 { 
  width:8.33333333%;
}
.ho-s-pull-12 { 
  right:100%;
}
.ho-s-pull-11 { 
  right:91.66667%;
}
.ho-s-pull-10 { 
  right:83.33333333%;
}
.ho-s-pull-9 { 
  right:75%;
}
.ho-s-pull-8 { 
  right:66.66667%;
}
.ho-s-pull-7 { 
  right:58.33333333%;
}
.ho-s-pull-6 { 
  right:50%;
}
.ho-s-pull-5 { 
  right:41.66667%;
}
.ho-s-pull-4 { 
  right:33.33333333%;
}
.ho-s-pull-3 { 
  right:25%;
}
.ho-s-pull-2 { 
  right:16.66667%;
}
.ho-s-pull-1 { 
  right:8.33333333%;
}
.ho-s-pull-0 { 
  right:auto;
}
.ho-s-push-12 {
  left:100%;
}
.ho-s-push-11 {
  left:91.66667%;
}
.ho-s-push-10 {
  left:83.33333333%;
}
.ho-s-push-9 {
  left:75%;
}
.ho-s-push-8 {
  left:66.66667%;
}
.ho-s-push-7 {
  left:58.33333333%;
}
.ho-s-push-6 {
  left:50%;
}
.ho-s-push-5 {
  left:41.66667%;
}
.ho-s-push-4 {
  left:33.33333333%;
}
.ho-s-push-3 {
  left:25%;
}
.ho-s-push-2 {
  left:16.66667%;
}
.ho-s-push-1 {
  left:8.33333333%;
}
.ho-s-push-0 {
  left:auto;
}
.ho-s-offset-12 {
  margin-left:100%;
}
.ho-s-offset-11 {
  margin-left:91.66667%;
}
.ho-s-offset-10 {
  margin-left:83.33333333%;
}
.ho-s-offset-9 {
  margin-left:75%;
}
.ho-s-offset-8 {
  margin-left:66.66667%;
}
.ho-s-offset-7 {
  margin-left:58.33333333%;
}
.ho-s-offset-6 {
  margin-left:50%;
}
.ho-s-offset-5 {
  margin-left:41.66667%;
}
.ho-s-offset-4 {
  margin-left:33.33333333%;
}
.ho-s-offset-3 {
  margin-left:25%;
}
.ho-s-offset-2 {
  margin-left:16.66667%;
}
.ho-s-offset-1 {
  margin-left:8.33333333%;
}
.ho-s-offset-0 {
  margin-left:0;
}
@media only screen and (min-width: 641px) {
  .ho-m-1,
  .ho-m-2,
  .ho-m-3,
  .ho-m-4,
  .ho-m-5,
  .ho-m-6,
  .ho-m-7,
  .ho-m-8,
  .ho-m-9,
  .ho-m-10,
  .ho-m-11,
  .ho-m-12 {
    float:left;
  }
  .ho-m-12 { 
    width:100%;
  }
  .ho-m-11 { 
    width:91.66667%;
  }
  .ho-m-10 { 
    width:83.33333333%;
  }
  .ho-m-9 { 
    width:75%;
  }
  .ho-m-8 { 
    width:66.66667%;
  }
  .ho-m-7 { 
    width:58.33333333%;
  }
  .ho-m-6 { 
    width:50%;
  }
  .ho-m-5 { 
    width:41.66667%;
  }
  .ho-m-4 { 
    width:33.33333333%;
  }
  .ho-m-3 { 
    width:25%;
  }
  .ho-m-2 { 
    width:16.66667%;
  }
  .ho-m-1 { 
    width:8.33333333%;
  }
  .ho-m-pull-12 { 
    right:100%;
  }
  .ho-m-pull-11 { 
    right:91.66667%;
  }
  .ho-m-pull-10 { 
    right:83.33333333%;
  }
  .ho-m-pull-9 { 
    right:75%;
  }
  .ho-m-pull-8 { 
    right:66.66667%;
  }
  .ho-m-pull-7 { 
    right:58.33333333%;
  }
  .ho-m-pull-6 { 
    right:50%;
  }
  .ho-m-pull-5 { 
    right:41.66667%;
  }
  .ho-m-pull-4 { 
    right:33.33333333%;
  }
  .ho-m-pull-3 { 
    right:25%;
  }
  .ho-m-pull-2 { 
    right:16.66667%;
  }
  .ho-m-pull-1 { 
    right:8.33333333%;
  }
  .ho-m-pull-0 { 
    right:auto;
  }
  .ho-m-push-12 { 
    left:100%;
  }
  .ho-m-push-11 { 
    left:91.66667%;
  }
  .ho-m-push-10 { 
    left:83.33333333%;
  }
  .ho-m-push-9 { 
    left:75%;
  }
  .ho-m-push-8 { 
    left:66.66667%;
  }
  .ho-m-push-7 { 
    left:58.33333333%;
  }
  .ho-m-push-6 { 
    left:50%;
  }
  .ho-m-push-5 { 
    left:41.66667%;
  }
  .ho-m-push-4 { 
    left:33.33333333%;
  }
  .ho-m-push-3 { 
    left:25%;
  }
  .ho-m-push-2 { 
    left:16.66667%;
  }
  .ho-m-push-1 { 
    left:8.33333333%;
  }
  .ho-m-push-0 { 
    left:auto;
  }
  .ho-m-offset-12 { 
    margin-left:100%;
  }
  .ho-m-offset-11 { 
    margin-left:91.66667%;
  }
  .ho-m-offset-10 { 
    margin-left:83.33333333%;
  }
  .ho-m-offset-9 { 
    margin-left:75%;
  }
  .ho-m-offset-8 { 
    margin-left:66.66667%;
  }
  .ho-m-offset-7 { 
    margin-left:58.33333333%;
  }
  .ho-m-offset-6 { 
    margin-left:50%;
  }
  .ho-m-offset-5 { 
    margin-left:41.66667%;
  }
  .ho-m-offset-4 {
    margin-left:33.33333333%;
  }
  .ho-m-offset-3 { 
    margin-left:25%;
  }
  .ho-m-offset-2 { 
    margin-left:16.66667%;
  }
  .ho-m-offset-1 { 
    margin-left:8.33333333%;
  }
  .ho-m-offset-0 { 
    margin-left:0;
  }
}
@media only screen and (min-width: 1191px) {
  .ho-l-1,
  .ho-l-2,
  .ho-l-3,
  .ho-l-4,
  .ho-l-5,
  .ho-l-6,
  .ho-l-7,
  .ho-l-8,
  .ho-l-9,
  .ho-l-10,
  .ho-l-11,
  .ho-l-12 {
    float:left;
  }
  .ho-l-12 { 
    width:100%;
  }
  .ho-l-11 { 
    width:91.66667%;
  }
  .ho-l-10 { 
    width:83.33333333%;
  }
  .ho-l-9 { 
    width:75%;
  }
  .ho-l-8 { 
    width:66.66667%;
  }
  .ho-l-7 { 
    width:58.33333333%;
  }
  .ho-l-6 { 
    width:50%;
  }
  .ho-l-5 { 
    width:41.66667%;
  }
  .ho-l-4 { 
    width:33.33333333%;
  }
  .ho-l-3 { 
    width:25%;
  }
  .ho-l-2 { 
    width:16.66667%;
  }
  .ho-l-1 { 
    width:8.33333333%;
  }
  .ho-l-pull-12 { 
    right:100%;
  }
  .ho-l-pull-11 { 
    right:91.66667%;
  }
  .ho-l-pull-10 { 
    right:83.33333333%;
  }
  .ho-l-pull-9 { 
    right:75%;
  }
  .ho-l-pull-8 { 
    right:66.66667%;
  }
  .ho-l-pull-7 { 
    right:58.33333333%;
  }
  .ho-l-pull-6 { 
    right:50%;
  }
  .ho-l-pull-5 { 
    right:41.66667%;
  }
  .ho-l-pull-4 { 
    right:33.33333333%;
  }
  .ho-l-pull-3 { 
    right:25%;
  }
  .ho-l-pull-2 { 
    right:16.66667%;
  }
  .ho-l-pull-1 { 
    right:8.33333333%;
  }
  .ho-l-pull-0 { 
    right:auto;
  }
  .ho-l-push-12 { 
    left:100%;
  }
  .ho-l-push-11 { 
    left:91.66667%;
  }
  .ho-l-push-10 { 
    left:83.33333333%;
  }
  .ho-l-push-9 { 
    left:75%;
  }
  .ho-l-push-8 { 
    left:66.66667%;
  }
  .ho-l-push-7 { 
    left:58.33333333%;
  }
  .ho-l-push-6 { 
    left:50%;
  }
  .ho-l-push-5 { 
    left:41.66667%;
  }
  .ho-l-push-4 { 
    left:33.33333333%;
  }
  .ho-l-push-3 { 
    left:25%;
  }
  .ho-l-push-2 { 
    left:16.66667%;
  }
  .ho-l-push-1 { 
    left:8.33333333%;
  }
  .ho-l-push-0 { 
    left:auto;
  }
  .ho-l-offset-12 { 
    margin-left:100%;
  }
  .ho-l-offset-11 { 
    margin-left:91.66667%;
  }
  .ho-l-offset-10 { 
    margin-left:83.33333333%;
  }
  .ho-l-offset-9 { 
    margin-left:75%;
  }
  .ho-l-offset-8 { 
    margin-left:66.66667%;
  }
  .ho-l-offset-7 { 
    margin-left:58.33333333%;
  }
  .ho-l-offset-6 { 
    margin-left:50%;
  }
  .ho-l-offset-5 { 
    margin-left:41.66667%;
  }
  .ho-l-offset-4 { 
    margin-left:33.33333333%;
  }
  .ho-l-offset-3 { 
    margin-left:25%;
  }
  .ho-l-offset-2 { 
    margin-left:16.66667%;
  }
  .ho-l-offset-1 { 
    margin-left:8.33333333%;
  }
  .ho-l-offset-0 { 
    margin-left:0;
  }
}
/* ==========================================================================
  panel radius
  ========================================================================== */
.panel {
  position: relative;
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0;
}
/* ==========================================================================
  panel shadow
  ========================================================================== */
.panel.box-shadow {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.panel-hd {
  padding: 10px 15px;
  height: 40px;
  border-bottom: 1px solid transparent;
}
.panel-box {
  padding: 15px;
}
/* ==========================================================================
  panel radius
  ========================================================================== */
.panel-radius {
  border-radius: 3px;
}
.panel-radius .panel-hd {
  border-radius: 3px 3px 0 0;
}
.panel-radius .panel-bd {
  border-radius: 0 0 3px 3px;
}
/* ==========================================================================
    icon style
  ========================================================================== */
.panel-default {
  border-color: #ddd;
}
.panel-default > .panel-hd {
  color: #333;
  background-color: #fafafa;
  border-color: #ddd;
}

.panel-red {
  border-color: #ebccd1;
}
.panel-red > .panel-hd {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.panel-green {
  border-color: #d6e9c6;
}.panel-green>.panel-hd {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.panel-primary {
  border-color: #bce8f1;
}.panel-primary>.panel-hd {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.panel-yellow {
  border-color: #faebcc;
}.panel-yellow>.panel-hd {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.panel-blue {
  border-color: #337ab7;
}.panel-blue>.panel-hd {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}
