/* ==========================================================================
    icon style
  ========================================================================== */
@font-face {
  font-family: "iconfont";
  src: url('fonts/iconfont.eot'); /* IE9*/
  src: url('fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
[class^="icon-"],
[class*=" icon-"] {
  font-family:"iconfont" !important;
  font-size: 16px;
  font-style:normal;
  line-height: 1;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: transform .5s;
  transition: transform .5s;
  display: inline-block;
}
/* ==========================================================================
    icon spin
  ========================================================================== */
@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}@keyframes icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}.icon-spin {
  -webkit-animation: icon-spin 2000ms infinite linear;
          animation: icon-spin 2000ms infinite linear;
}
/* ==========================================================================
    icon size
  ========================================================================== */
.icon-s:before {
  font-size: 80%;
  vertical-align: 4%;
}
.icon-m:before {
  font-size: 150%;
  vertical-align: -2%;
}
.icon-l:before {
  font-size: 200%;
  vertical-align: -8%;
}
.icon-xl:before {
  font-size: 250%;
  vertical-align: -10%;
}
/* ==========================================================================
    icon button
  ========================================================================== */
.icon-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #666;
  border-radius: 50%;
  line-height: 40px;
  background-color: #eee;
}
.icon-btn.green,
.icon-btn.darkgreen,
.icon-btn.blue,
.icon-btn.primary,
.icon-btn.noble,
.icon-btn.red,
.icon-btn.pink,
.icon-btn.orange,
.icon-btn.yellow {
  color: #fff;
}
.icon-btn.green {
  background-color: #8ce83a;
}
.icon-btn.darkgreen {
  background-color: #5cb85c;
}
.icon-btn.blue {
  background-color: #159cff;
}
.icon-btn.primary {
  background-color: #70ceff;
}
.icon-btn.noble {
  background-color: #9088e6;
}
.icon-btn.red {
  background-color: #fe6969;
}
.icon-btn.pink {
  background-color: #fc7db6;
}
.icon-btn.orange {
  background-color: #ff9154;
}
.icon-btn.yellow {
  background-color: #ffc64c;
}
.icon-btn.plain {
  color: #159cff;
  background-color: #fff;
}
/* ==========================================================================
    icon rotate
  ========================================================================== */
.icon-rotate-90 {
  -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.icon-rotate-180 {
  -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.icon-rotate-270 {
  -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
/* ==========================================================================
    icon info
  ========================================================================== */
.icon-spinner1:before { content: "\e600"; }
.icon-spinner2:before { content: "\e602"; }
.icon-relay:before { content: "\e601"; }
.icon-fingerprint:before { content: "\e64d"; }
.icon-mic:before { content: "\e603"; }
.icon-mic-full:before { content: "\e604"; }
.icon-stop:before { content: "\e605"; }
.icon-spinner:before { content: "\e606"; }
.icon-more:before { content: "\e607"; }
.icon-goback:before { content: "\e608"; }
.icon-camera:before { content: "\e609"; }
.icon-search:before { content: "\e60a"; }
.icon-exclamation:before { content: "\e60b"; }
.icon-heart-help:before { content: "\e660"; }
.icon-question:before { content: "\e60c"; }
.icon-home:before { content: "\e60d"; }
.icon-remove:before { content: "\e60e"; }
.icon-check:before { content: "\e60f"; }
.icon-check-circle:before { content: "\e610"; }
.icon-remove-circle:before { content: "\e611"; }
.icon-minus-circle:before { content: "\e612"; }
.icon-plus-circle:before { content: "\e613"; }
.icon-minus-dotted:before { content: "\e614"; }
.icon-plus-dotted:before { content: "\e615"; }
.icon-minus:before { content: "\e616"; }
.icon-inbox:before { content: "\e617"; }
.icon-plus:before { content: "\e618"; }
.icon-outbox:before { content: "\e619"; }
.icon-arrow-left:before { content: "\e61a"; }
.icon-arrow-down:before { content: "\e61b"; }
.icon-arrow-right:before { content: "\e61c"; }
.icon-arrow-up:before { content: "\e61d"; }
.icon-user-circle:before { content: "\e61e"; }
.icon-cloud-download:before { content: "\e61f"; }
.icon-clock:before { content: "\e620"; }
.icon-cog:before { content: "\e631"; }
.icon-user:before { content: "\e621"; }
.icon-chart:before { content: "\e65e"; }
.icon-qrcode:before { content: "\e663"; }
.icon-info:before { content: "\e622"; }
.icon-list:before { content: "\e623"; }
.icon-menu:before { content: "\e624"; }
.icon-map1:before { content: "\e625"; }
.icon-qq:before { content: "\e65d"; }
.icon-send:before { content: "\e626"; }
.icon-rmb:before { content: "\e627"; }
.icon-table:before { content: "\e628"; }
.icon-cloud-upload:before { content: "\e629"; }
.icon-woman:before { content: "\e62a"; }
.icon-male:before { content: "\e62b"; }
.icon-play:before { content: "\e62c"; }
.icon-renovate:before { content: "\e62d"; }
.icon-gotop:before { content: "\e62e"; }
.icon-edit:before { content: "\e62f"; }
.icon-dustbin:before { content: "\e630"; }
.icon-map:before { content: "\e632"; }
.icon-lock:before { content: "\e633"; }
.icon-key:before { content: "\e634"; }
.icon-calendar:before { content: "\e635"; }
.icon-email:before { content: "\e636"; }
.icon-telephone:before { content: "\e637"; }
.icon-share:before { content: "\e638"; }
.icon-t-weibo:before { content: "\e639"; }
.icon-message:before { content: "\e63a"; }
.icon-iphone:before { content: "\e661"; }
.icon-info-circle:before { content: "\e63b"; }
.icon-question-circle:before { content: "\e63c"; }
.icon-sina:before { content: "\e63d"; }
.icon-repeat:before { content: "\e63e"; }
.icon-video:before { content: "\e63f"; }
.icon-phonebook:before { content: "\e65f"; }
.icon-baby:before { content: "\e664"; }
.icon-qq-full:before { content: "\e662"; }
.icon-rmb-circle:before { content: "\e640"; }
.icon-t-weixin:before { content: "\e641"; }
.icon-shoping-cart:before { content: "\e642"; }
.icon-music:before { content: "\e643"; }
.icon-caret-down:before { content: "\e644"; }
.icon-caret-left:before { content: "\e645"; }
.icon-caret-right:before { content: "\e646"; }
.icon-caret-up:before { content: "\e647"; }
.icon-sort:before { content: "\e648"; }
.icon-thumb-up:before { content: "\e649"; }
.icon-brooch:before { content: "\e64a"; }
.icon-friend-circle:before { content: "\e64b"; }
.icon-list-table:before { content: "\e64c"; }
.icon-image:before { content: "\e64e"; }
.icon-angle-double-down:before { content: "\e64f"; }
.icon-angle-double-left:before { content: "\e650"; }
.icon-angle-double-right:before { content: "\e651"; }
.icon-angle-double-up:before { content: "\e652"; }
.icon-angle-down:before { content: "\e653"; }
.icon-angle-left:before { content: "\e654"; }
.icon-angle-right:before { content: "\e655"; }
.icon-angle-up:before { content: "\e656"; }
.icon-exclamation-circle:before { content: "\e657"; }
.icon-heart:before { content: "\e658"; }
.icon-heart-full:before { content: "\e659"; }
.icon-star:before { content: "\e65a"; }
.icon-star-half:before { content: "\e65b"; }
.icon-star-full:before { content: "\e65c"; }