html,
body {
	height: 100%;
	overflow: hidden;
}
body {
	margin: 0;
	background-image: url(../images/red_bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
img {
	max-width: 100%;
}
.main-wrap {
	position: relative;
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.evn-wrap {
	position: absolute;
	top: 0;
	z-index: 2;
	width: 100%;
	text-align: center;
	color: #ffcc00;
}
.countTime {
	display: inline-block;
	padding: 20px 30px;
	color: #fff;
	background-color: rgba(255, 255, 255, .3);
	border-radius: 10px;
}
.red-wrap {
	position: relative;
	top: -100%;
	width: 100%;
	height: 100%;
	-webkit-user-select: none;
			user-select: none;
}
.red-wrap ul {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
}
.red-wrap li {
	position: absolute;
	width: 300px;
	height: 180px;
	cursor: pointer;
	background-image: url(../images/red_max.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.red-wrap li.mid {
	width: 180px;
	height: 120px;
	-webkit-animation: flash 1s infinite;
			animation: flash 1s infinite;
}
.red-wrap li.min {
	width: 150px;
	height: 90px;
}
@media screen and ( max-width: 768px ) {
	.red-wrap li {
		width: 150px;
		height: 90px;
	}
	.red-wrap li.mid {
		width: 100px;
		height: 60px;
	}
	.red-wrap li.min {
		width: 60px;
		height: 36px;
	}
}
@-webkit-keyframes flash {
	from, 50%, 100% {
		opacity: .5;
	}

	25%, 75% {
		opacity: 1;
	}
}
@keyframes flash {
	from, 50%, 100% {
		opacity: .5;
	}

	25%, 75% {
		opacity: 1;
	}
}
.a-flash {
	-webkit-animation: flash 1s infinite;
			animation: flash 1s infinite;
}
@-webkit-keyframes slideInUp {
	from {
		-webkit-transform: translate3d(0, 0, 0);
		visibility: visible;
	}

	100% {
		-webkit-transform: translate3d(0, 120%, 0);
	}
}
@keyframes slideInUp {
	from {
		transform: translate3d(0, 0, 0);
		visibility: visible;
	}

	100% {
		transform: translate3d(0, 100%, 0);
	}
}
.a-slideInUp {
	-webkit-animation: slideInUp 2s infinite linear;
			animation: slideInUp 2s infinite linear;
}